<div class="center">
	<div class="inner-info-box">
		<div class="form-box">
			<form class="form-horizontal" name="hospitalLogo" ng-submit="basicHospitalCtrl.updloadFile(hospitalManageCtrl.info._id)">
			<fieldset>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="email">Logo</label>  
				  <div class="col-md-6">
				  <img id="hospital-logo" src="http://t1.gstatic.com/images?q=tbn:ANd9GcRcr6q7J5ObNpEeP3wIhkYoxq978P2EAYbNwwNFsdZ9DR9zPbec" class="img-thumbnail" />
				  <span class="btn btn-info btn-file">Subir imagen
				  	<input type="file" id="image" class="form-control input-md" hospital-file="myFile" ng-model="image">
				  </span>
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-md-4 center-button">
					<input type="submit" class="btn btn-primary" value="Guardar">
					<a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#personal" class="btn btn-warning">Cancelar</a>
				  </div>
				</div>
			</fieldset>
			</form>
		</div> 
	</div>
</div>