<div class="center">
	<div class="inner-info-box">
		<div class="form-box">
			<form class="form-horizontal" name="personalDocInfo" ng-submit="dashPersonalCtrl.updateDoctor(docDashCtrl.info._id)">
			<fieldset>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="email">Logo</label>  
				  <div class="col-md-6">
				  <img id="profile-pic" ng-src="http://img2.wikia.nocookie.net/__cb20140518071050/towerofsaviors/images/archive/4/47/20140518072131!Placeholder.png" class="img-thumbnail" />
				  <span class="btn btn-info btn-file">Subir imagen
				  	<input type="file" id="image" class="form-control input-md" file-model="myFile" ng-model="image">
				  </span>
				  </div>
				</div>
			</fieldset>
			</form>
		</div> 
	</div>
</div>