/* Move down content because we have a fixed navbar that is 50px tall */

/*
 * Global add-ons
 */

header
	position: fixed;
	width: 100%;
	z-index: 999;

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.success
	padding-right 10px

.noty.noty_dash
	height 75px

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.form-group .map-box
	width 50%
	float left
	height 300px
	padding-left: 15px;

#location-map
	height 100%

/*
 * Main content
 */

.main {
padding-right: 40px;
padding-left: 40px;
}
.main .page-header {
  margin-top: 30px;
}
.top-fix
	height 100%
	
.mid-box-a
	width 60%
	float left
	
.mid-box-b
	width 35%
	float right
	height: 386px;
	margin-bottom: 25px;

.img-thumbnail {
  width: 130px;
  margin-bottom: 15px;
}

.btn-file {
	position: relative;
	overflow: hidden;
	display: block;
	width: 132px;
}

.btn-file input {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	/*filter: alpha(opacity=0);*/
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.small-input
	width: 80% !important;
	margin-right: 15px;
	display inline-block
	margin-bottom: 10px !important;

.remove-btn
	padding: 4px 12px;
	
.add-btn
	margin-bottom 25px
	font-size: 12px;
	font-weight: bold;	
	
.input-top-fix
	padding-top 15px
	border-radius 4px
	
#gallery-pic, #placeholder-pic
	margin-right 35px
	
.panel-title
	width: 145px;
	float: left;
	line-height: 30px;
	
.scroll-list
	overflow-y: scroll;
	height: 330px;
	
.list-element
	display: block;
	width: 145px;
	float: left;

#appointments .span4
	width: 30%;
	float: left;
	
#appointments .span8
	width: 60%;
	float: left;
	margin-left: 20px;
	margin-bottom: 45px;
	
.docs-list .doc-box .doc-photo.photo-fix
	padding 15px
	
.col-sm-9
	padding-right 0
	
.filter-block
	margin-bottom 25px
	
.weight-fix
	font-weight normal
	
.bottom-fix
	height: 200px;
	border-bottom: solid 1px #e2e2e2;
	
#results-box .center .results-page .results-container.padding-fix
	padding 0
	position relative
	
.results-container .docs-list .doc-box .doc-info
	padding-left 30px
	
.filters-container h2
	margin-bottom 30px
	
.back-link
	cursor pointer
	
#directives-calendar
	margin-top: 30px;
	
.events-box
	width: 25%;
	float: left;
	
.events-box .events-list
	height: 520px;
	overflow: scroll;
	
.calendar-box
	width: 70%;
	float: left;
	margin-left: 40px;
	padding-bottom: 80px;
	
.calendar-box .btn-group
	margin 10px 0 20px 0
	
.calendar-box .calAlert
	margin-top 15px
	text-align: center;
	
#bottom-flag 
	text-align center
	
.event-status
	margin-bottom 4px
	
.event-rank
	display: block;
	margin-top: 35px;
	margin-bottom 20px
	text-align: center;
	
.ad-subsection, .ad-subsection a
	margin-left 15px
	
#calendar-link
	cursor pointer
	
#customize .center .results-page, #notifications .center .results-page  
	margin-bottom: 20px;
	position: relative;

#customize .inner-info-box, #notifications .inner-info-box
	padding 55px 0
	
#customize .inner-info-box .form-box, #notifications .inner-info-box .form-box
	width: 80%;
	margin: 0 auto;
	padding 45px 0
	
#customize .inner-info-box .form-box fieldset, #notifications .inner-info-box .form-box fieldset
	margin-bottom 35px
	
#customize .inner-info-box .form-box fieldset:last-child, #notifications .inner-info-box .form-box fieldset:last-child
	margin-bottom 0
	
#customize .inner-info-box .form-box .col-md-4, #notifications .inner-info-box .form-box .col-md-4
	width 20%
	
#customize .inner-info-box .form-box .col-md-6, #notifications .inner-info-box .form-box .col-md-6
	width 75%
	
#customize form input.form-control, #customize textarea, #notifications form input.form-control, #customize textarea
	margin-bottom: 25px;
	
#customize legend, #notifications legend 
	color #F8580D
	
	/* AddThisEvent (add to your existing CSS) */
.addthisevent-drop 						
	width:170px;display:inline-block;position:relative;z-index:999998;background:#2878eb;font-family:"Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;color:#fff!important;text-decoration:none;font-size:15px;text-decoration:none;padding:12px 20px 12px 15px;
.addthisevent-drop:hover 				
	color:#fff;font-size:15px;text-decoration:none;background-color:#2c84f4;
.addthisevent-drop:active 				
	top:1px;
.addthisevent-drop .arrow 				
	width:15px;height:10px;position:absolute;top:50%;right:15px;margin-top:-5px;background:url(icon-arrow.png) no-repeat;
.addthisevent-selected 					
	background-color:#2c84f4;
.addthisevent_dropdown 					
	width:215px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:2px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);
.addthisevent_dropdown span 			
	display:block;line-height:110%;background:#fff;text-decoration:none;font-size:14px;color:#6d84b4;padding:8px 10px 9px 15px;
.addthisevent_dropdown span:hover 		
	background:#f4f4f4;color:#6d84b4;text-decoration:none;font-size:14px;
.addthisevent span 						
	display:none!important;
.addthisevent-drop ._url,.addthisevent-drop ._start,.addthisevent-drop ._end,.addthisevent-drop ._summary,.addthisevent-drop ._description,.addthisevent-drop ._location,.addthisevent-drop ._organizer,.addthisevent-drop ._organizer_email,.addthisevent-drop ._facebook_event,.addthisevent-drop ._all_day_event 
	display:none!important;
.addthisevent_dropdown .copyx 			
	height:21px;display:block;position:relative;cursor:default;
.addthisevent_dropdown .brx 			
	width:180px;height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;top:9px;
.addthisevent_dropdown .frs 			
	position:absolute;top:3px;cursor:pointer;right:10px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:10px;color:#cacaca;
.addthisevent_dropdown .frs:hover 		
	color:#6d84b4;
.addthisevent-drop
	z-index 50
#sign-up-box .addthisevent-drop	
	z-index 50
	
.center-fix
	text-align center
	padding: 3px;