#doc-profile .center
	padding 15px 0
	padding-bottom: 0;

#doc-profile .center .inner-doc-profile
	padding: 0 20px;
	overflow: hidden;

.inner-doc-profile .doc-main-info
	float: left;
	width: 60%;

.doc-main-info .doc-main-photo	
	width: 30%;
	height: 100%;
	float: left;

.doc-main-photo	.inner-doc-main-photo
	overflow: hidden;
	width: 100%;
	height: 60%;
	padding: 5px;

.inner-doc-main-photo img
	width 100%
	border: solid 3px #E1E3E4;

.doc-main-info .inner-doc-main-info
	float: left;
	width: 70%;
	height: 100%;
	padding: 10px 15px;

.inner-doc-main-info .doc-title
	width: 100%;
	height: 70px;
	border-bottom: solid 1px #D2DADD;
	margin-top: 10px;
	letter-spacing: 0;

.doc-title span
	display: block;
	width: 100%;
	color: #665f5f;

.doc-title .doc-title-name
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	
.inner-doc-main-info .doc-rating
	width: 40%;
	margin-top: 20px;
	padding-right: 15px;
	float: left;

.doc-rating .average-rating
	width: 100%;
	height: 75px;
	letter-spacing: 0;

.average-rating .rating-title
	display: block;
	width: 100%;
	color: #665f5f;
	font-weight: bold;

.average-rating .visual-rating
	height: 28px;
	padding: 5px 0;
	overflow: hidden;
	background-image: url('http://1.bp.blogspot.com/-8eIECAyv_y0/T6fVLgindVI/AAAAAAAAAE0/MoYYDoYOA3M/s1600/5+Stars.png');
	background-size: 80%;
	background-repeat: no-repeat;
	background-position-y: 2px;

.doc-rating a.btn
	height: 30px;
	padding: 5px 18px;
	font-size: 14px;
	margin-top: 6px;
	font-weight: bold;

.inner-doc-main-info .doc-description
	width: 60%;
	margin-top: 20px;
	float: left;

.doc-specs .specs-title
	display: block;
	width: 100%;
	color: #665f5f;
	font-weight: bold;

.doc-specs ul
	margin-top: 3px;
	padding-left: 15px;

.doc-specs ul li
	list-style: initial;

.doc-description .description-title
	display: block;
	width: 100%;
	color: #665f5f;
	font-weight: bold;

.doc-description .description-text
	height: 135px;
	overflow: hidden;
	font-size: 13px;
	color: #665f5f;
	padding: 5px 0;
	padding-right: 10px;

.inner-doc-profile .doc-box-location
	float: left;
	width: 40%;
	height: 100%;

.doc-box-location .inner-doc-box-location
	width: 100%;
	height: 362px;
	padding: 10px;

.inner-doc-box-location .map-box
	width: 100%;
	height: 80%;
	border: solid 3px #e1e3e4;

.map-box>div
	height 100% !important

.map-box #profile-map
	height 100%

#doc-book .center
	padding 15px 0
	padding-top: 0;

#doc-book .center .inner-doc-profile
	padding: 0 20px;
	overflow: hidden;

/*.inner-doc-profile .book-box
	background-color: #c7dfec;
	border: solid 1px #b8cbd4;*/

.book-box .inner-search-bar
	padding: 20px;
	height: 105px;

.book-box .inner-search-bar .column-c
	float: left;
	width: 30%;
	height: 100%;
	padding: 0 7.5px;
	margin-right: 15px;

.doc-schedule .inner-doc-schedule
	width: 100%;
	/*height: 280px;*/
	padding: 10px;
	border: solid 1px #b8cbd4;

#extra-doc-info .center
	padding 15px 0

#extra-doc-info .center .inner-doc-profile
	padding: 0 40px;
	overflow: hidden;

.inner-doc-profile .doc-details
	width: 35%;
	float: left;
	color: #665f5f;

.inner-doc-profile .doc-list-reviews
	width: 65%;
	float: left;
	color: #665f5f;

#extra-doc-info h3
	color: #665f5f;

.doc-details span
	display block
	font-weight bold
	font-size: 15px;

.doc-details ul li
	margin-bottom 0
	color: #665f5f;

.doc-list-reviews .review-box
	padding: 5px 0;
	padding-bottom: 15px;
	margin-bottom: 30px;
	border-bottom: solid 1px #d2dadd;

.review-box .items-reviewed, .review-box .post-date
	float: left;
	width: 50%;

.items-reviewed .rating-title
	display: block;
	margin-bottom: 10px;
	width: 50%;
	float: left;

.items-reviewed .visual-rating
	display: block;
	margin-bottom: 10px;
	width: 50%;
	float: left;
	height: 20px;
	overflow: hidden;
	background-image: url("http://1.bp.blogspot.com/-8eIECAyv_y0/T6fVLgindVI/AAAAAAAAAE0/MoYYDoYOA3M/s1600/5+Stars.png");
	background-size: 65%;
	background-repeat: no-repeat;

.review-box .post-date span
	display block
	font-weight bold

.review-box .review-text
	clear: both;
	width 100%

.review-text p
	margin-bottom: 0;
	padding-top: 10px;