#map {
  height: 439px;
  width: 593px;
}
#profile-map .map-inner-info {
  width: 100%;
}
.infoWindowContent {
  font-size: 12px !important;
}
#map h3 {
  font-size: 14px !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}
.infoWindowContent img {
  float: left;
  width: 60px;
}
.infoWindowContent .map-inner-info {
  float: left;
  width: 130px;
  margin-left: 5px;
}
.gm-style-iw h3 {
  font-size: 18px;
  margin-top: 10px;
}
.gm-style img {
  max-width: none;
}
.gm-style label {
  width: auto;
  display: inline;
}
.infoWindowContent h4 {
  font-size: 12px !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
#location-map img {
  max-width: none !important;
}
.location-map {
  width: 100% !important;
  height: 100% !important;
}
.info-map-title {
  color: #4682b4;
}
