#map 
    height:439px;
    width:593px;

.infoWindowContent 
    font-size:  12px !important;

#map h3
	font-size:  14px !important;
	margin-bottom: 10px !important;
    margin-top: 5px !important;

.infoWindowContent img
	float: left;
    width: 30%;

.infoWindowContent .map-inner-info
    float: left;
    width: 70%;

.infoWindowContent h4
	font-size:  12px !important;
    margin-bottom:0 !important;
    margin-top: 0 !important;
