#map {
  height: 439px;
  width: 593px;
}
.infoWindowContent {
  font-size: 14px !important;
  padding-top: 10px;
}
.infoWindowContent h3 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
#map h3 {
  font-size: 14px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
.infoWindowContent img {
  float: left;
  width: 65px;
  margin-right: 15px;
}
.infoWindowContent h4 {
  font-size: 14px !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
