#search-bar .center {
  padding: 15px 0;
  padding-bottom: 0;
  background-color: #c7dfec;
}
#search-bar .center .inner-search-bar {
  padding: 0 20px;
  height: 70px;
}
#search-bar .center .inner-search-bar:last-child {
  height: 40px;
}
.inner-search-bar .column-c {
  float: left;
  width: 25%;
  height: 100%;
  padding: 0 7.5px;
}
.inner-search-bar .column-c span {
  margin-top: 6px;
  display: block;
}
.inner-search-bar .column-c span input {
  margin-right: 6px;
  margin-left: 10px;
}
.column-c label {
  display: block;
  color: #665f5f;
}
.inner-search-bar .column-c .btn-block {
  height: 32px;
  margin: 0 auto;
  margin-top: 26px;
  line-height: 12px;
  font-size: 15px;
  width: 80%;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
.description-bar .center {
  border: solid 1px #cddce4;
  padding: 0 25px;
}
.description-bar .center span {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
#results-box .center .results-page {
  height: 460px;
  border-right: solid 1px #e2e2e2;
  border-left: solid 1px #e2e2e2;
  margin-bottom: 20px;
  border-bottom: solid 1px #e2e2e2;
}
#results-box .center .results-page .docs-container,
#results-box .center .results-page .filters-container {
  float: left;
  width: 40%;
  height: 100%;
  overflow: scroll;
  border-right: solid 1px #e2e2e2;
}
#results-box .center .results-page .filters-container {
  padding: 30px;
}
#results-box .center .results-page .location-container,
#results-box .center .results-page .results-container {
  float: left;
  width: 60%;
  height: 100%;
  padding: 10px;
}
.docs-container .docs-list .doc-box {
  width: 100%;
  height: 210px;
  background-color: #f8f8f8;
  border-bottom: solid 1px #e2e2e2;
  letter-spacing: 0px;
}
.docs-list .doc-box .doc-photo {
  width: 30%;
  height: 100%;
  padding: 30px 15px;
  float: left;
}
.doc-box .doc-photo .inner-doc-photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.doc-photo .inner-doc-photo img {
  width: 100%;
}
.docs-list .doc-box .doc-info {
  width: 70%;
  height: 100%;
  padding: 30px 15px;
  padding-left: 0;
  float: left;
}
.doc-box .doc-info .doc-name {
  width: 100%;
  height: 30px;
}
.doc-info .doc-name span {
  color: #4682b4;
  font-size: 15px;
  font-weight: bold;
}
.doc-box .doc-info .doc-address {
  width: 60%;
  height: 60px;
  float: left;
  font-size: 13px;
}
.doc-box .doc-info .doc-address div {
  width: 100%;
  line-height: 14px;
}
.doc-box .doc-info .doc-address div:first-child {
  margin-bottom: 6px;
}
.doc-box .doc-info .doc-review {
  width: 40%;
  height: 60px;
  float: left;
  font-size: 13px;
}
.doc-box .doc-info .book-options {
  width: 100%;
  height: 55px;
  padding: 25px 15px 0 0;
  clear: both;
}
.doc-info .book-options a.btn {
  height: 30px;
  padding: 5px 18px;
  font-size: 14px;
  margin-right: 36px;
  font-weight: bold;
}
.doc-info .book-options a.btn:last-child {
  margin-right: 0;
}
.noty {
  position: fixed;
  text-align: center;
  width: 300px;
  height: 100px;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -150px;
  z-index: 1000;
}
