#search-bar .center
	padding 15px 0
	background-color: #cddce4;

#search-bar .center .inner-search-bar
	padding: 0 20px;
	height: 70px;

#search-bar .center .inner-search-bar:last-child
	height 40px

.inner-search-bar .column-c
	float: left;
	width: 25%;
	height: 100%;
	padding: 0 7.5px;

.inner-search-bar .column-c span
	margin-top: 6px;
	display: block;

.inner-search-bar .column-c span input
	margin-right: 6px;
	margin-left 10px

.column-c label
	display block
	color: #665f5f;

.inner-search-bar .column-c .btn-block
	 height: 32px;
	margin: 0 auto;
	margin-top: 26px;
	line-height: 12px;
	font-size: 15px;
	width: 80%;

.description-bar .center
	border: solid 1px #cddce4;
	padding: 0 25px;

.description-bar .center span
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 16px;

#results-box .center .results-page
	height: 360px;

#results-box .center .results-page .docs-container
	float left
	width 40%
	height: 100%;
	overflow hidden 

#results-box .center .results-page .location-container
	float left
	width 60%
	height: 100%;