body
	padding 0px
	margin 0px
	margin-top: -20px;
	position relative
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing 1px
	vertical-align baseline
	-webkit-font-smoothing: antialiased;

a, a:hover
	text-decoration none

h2
	font-size: 22px;
	color: #4682B4;
	font-weight: bold;

h3
	font-size: 20px;
	color: #4682b4;

ul
	padding-left 0

li
	list-style none
	color: #4682b4;
	margin-bottom: 4px;

header
	background-color: #ECF3F8;
	height 110px
	border-bottom: solid 1px #E0E8EC;

.center
	margin 0 auto
	width 1024px

.jumbotron
	padding 25px
	background transparent

.jumbotron p
	color: #4682B4;;
	font-weight: bold;
	margin-bottom: 25px;

.jumbotron ul
	padding-left: 20px;
	margin-bottom: 35px;

.jumbotron ul li
	margin-bottom: 5px;
	color: #665F5F;
	list-style: none;
	height: 45px;

.jumbotron ul li span
	float: right;
	width: 315px;

.jumbotron span
	color: #665F5F;

.jumbotron div a
	display: block;
	width: 160px;
	overflow: hidden;
	float left
	margin-right: 25px;
	margin-top: 20px;

.jumbotron div a img
	width 100%

#logo-box
	width: 320px;
	height: 110px;
	float: left;
	padding-left: 20px;

#logo-box img
	height 100%

#main-header
	height: 90px;
	float: right;
	margin-bottom: 0;
	margin-top: 20px;

#main-header li
	float: left;
	list-style: none;
	line-height: 90px;

li.vertical-divider
	height: 90px;
	margin: 0 10px;
	border-left: 1px solid #e0e8ec;
	border-right: 1px solid #fff;

#main-header li a
	padding: 10px 20px;

#main_container
	background-color: #CDDCE4;
	border-bottom: solid 1px #B8CBD4;

#main_container .center
	padding: 30px 0;

#main_container .center #main-box
	height 480px
	margin-top: 50px;
	padding: 0 20px;
	margin-bottom: 20px;

.center #main-box .mb-left
	width 530px
	height: 100%;
	float right

.center #main-box .mb-right
	width: 420px;
	float: left;

#main-box .mb-left #mb-form-box
	height: 100%;
	background: steelblue;
	border-radius: 14px;
	padding: 25px 60px;

.mb-left #mb-form-box p
	font-size: 23px;
	color: white;

#mb-form-box form
	margin-top: 35px;

.mb-left #mb-form-box label
	display: block;
	color: white;
	font-size: 18px;
	font-weight: normal;

.mb-left #mb-form-box select
	margin-bottom: 25px;
	font-size: 18px;

.btn-block	
	margin-top: 35px;
	font-weight: bold;

#providers_container
	background-color: #F8F8F8;

#providers_container .center
	padding: 30px 0;

#providers_container .center .info-box
	height: 360px;
	padding: 0 20px;
	margin-bottom: 20px;

.info-box .inner-info-box .column
	float: left;
	width: 33.33%;

.inner-info-box .column hr
	border-top: solid 1px #559B49;
	width: 60%;
	float: left;
	padding-right: 80px;

#docs_container
	background-color: white;
	border-top: solid 1px #E2E2E2;

#docs_container .center
	padding: 30px 0;

#docs_container .center h2, #docs_container .center p
	color #665f5f

#docs_container .center p
	font-size: 17px;
	padding-right: 50px;

#docs_container .center button
	width: 250px;
	height: 36px;
	line-height: 14px;
	margin-top: 25px;	

#docs_container .center .info-box
	height: 200px;
	padding: 0 20px;
	margin-bottom: 20px;

.info-box .inner-info-box .column-b
	float: left;
	width: 50%;

.info-box .inner-info-box .column-b:first-child
	border-right: dotted 1px #665f5f;

.info-box .inner-info-box .column-b:last-child
	padding-left: 60px;

footer
	height: 250px;
	background-color: #4682b4;
	border-top: solid 1px #104F83;

footer .center
	padding 30px 0

footer .center .info-box
	padding: 0 20px;
	margin-bottom: 20px;

footer .column
	float: left;
	width: 33.33%;

footer .column:last-child
	text-align center

footer h2
	color: #fff;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 18px;

footer .column i
	color white

footer .column span
	margin-left: 5px;
	color: white;
	font-size: 18px;

footer .column  button
	padding-left: 35px;
	padding-right: 35px;