body {
  padding: 0px;
  margin: 0px;
  margin-top: -20px;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}
#shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #525252;
  opacity: 0.5;
  z-index: 100;
  display: none;
}
#form-box {
  position: fixed;
  width: 460px;
  height: 458px;
  background-color: #70cfdf;
  z-index: 100;
  display: none;
  top: 50%;
  margin-top: -229px;
  left: 50%;
  margin-left: -230px;
  border-radius: 4px;
}
#form-box .jumbotron {
  width: 460px;
  height: 458px;
  position: absolute;
  left: 50%;
  margin-left: -230px;
  top: 50%;
  margin-top: -229px;
}
#form-box .jumbotron form {
  margin-top: 25px;
}
#form-box .jumbotron img {
  width: 27px;
  position: absolute;
  right: 14px;
  top: 14px;
}
form input.form-control {
  margin-bottom: 25px;
  width: 95%;
}
form textarea.form-control {
  width: 95%;
}
#form-box form button {
  width: 120px;
  font-size: 14px;
  height: 32px;
  margin-bottom: 0px;
  margin-top: 30px;
  background-color: #f79226;
  border-color: #f7a946;
}
a,
a:hover {
  text-decoration: none;
}
h2 {
  font-size: 22px;
  color: #4682b4;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  color: #4682b4;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
  color: #4682b4;
  margin-bottom: 4px;
}
header {
  background-color: #fff;
  height: 110px;
  border-bottom: solid 1px #e0e8ec;
}
.center {
  margin: 0 auto;
  width: 1024px;
}
.jumbotron {
  padding: 25px;
  background: transparent;
}
.jumbotron p {
  color: #4682b4;
  font-weight: bold;
  margin-bottom: 25px;
}
.jumbotron ul {
  padding-left: 20px;
  margin-bottom: 35px;
}
.jumbotron ul li {
  margin-bottom: 5px;
  color: #665f5f;
  list-style: none;
  height: 45px;
}
.jumbotron ul li span {
  float: right;
  width: 315px;
}
.jumbotron span {
  color: #665f5f;
}
.jumbotron div a {
  display: block;
  width: 160px;
  overflow: hidden;
  float: left;
  margin-right: 25px;
  margin-top: 20px;
}
.jumbotron div a img {
  width: 100%;
}
#logo-box {
  width: 195px;
  height: 110px;
  float: left;
  padding-left: 20px;
}
#logo-box a {
  width: 100%;
  display: block;
  margin-top: 40px;
}
#logo-box img {
  width: 100%;
}
#main-header {
  height: 90px;
  float: right;
  margin-bottom: 0;
  margin-top: 20px;
}
#main-header li {
  float: left;
  list-style: none;
  line-height: 90px;
}
li.vertical-divider {
  height: 90px;
  margin: 0 10px;
  border-left: 1px solid #e0e8ec;
  border-right: 1px solid #fff;
}
#main-header li a {
  padding: 10px 20px;
}
#main_container {
  background-color: #c7dfec;
  border-bottom: solid 1px #b8cbd4;
}
#main_container .center {
  padding: 30px 0;
}
#main_container .center #main-box {
  height: 480px;
  margin-top: 50px;
  padding: 0 20px;
  margin-bottom: 20px;
}
.center #main-box .mb-left {
  width: 530px;
  height: 100%;
  float: right;
}
.center #main-box .mb-right {
  width: 420px;
  float: left;
}
#main-box .mb-left #mb-form-box {
  height: 100%;
  background: #4682b4;
  border-radius: 14px;
  padding: 25px 60px;
}
.mb-left #mb-form-box p {
  font-size: 23px;
  color: #fff;
}
#mb-form-box form {
  margin-top: 35px;
}
.mb-left #mb-form-box label {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}
.mb-left #mb-form-box select {
  margin-bottom: 25px;
  font-size: 18px;
}
.btn-block {
  margin-top: 35px;
  font-weight: bold;
}
#providers_container {
  background-color: #f8f8f8;
}
#providers_container .center {
  padding: 30px 0;
}
#providers_container .center .info-box {
  height: 360px;
  padding: 0 20px;
  margin-bottom: 20px;
}
.info-box .inner-info-box .column {
  float: left;
  width: 33.33%;
}
.inner-info-box .column hr {
  border-top: solid 1px #559b49;
  width: 60%;
  float: left;
  padding-right: 80px;
  margin: 10px 0 20px;
}
#docs_container {
  background-color: #fff;
  border-top: solid 1px #e2e2e2;
}
#docs_container .center {
  padding: 30px 0;
}
#docs_container .center h2,
#docs_container .center p {
  color: #665f5f;
}
#docs_container .center p {
  font-size: 17px;
  padding-right: 50px;
}
#docs_container .center a {
  width: 250px;
  height: 36px;
  line-height: 14px;
  margin-top: 25px;
  font-weight: bold;
}
#docs_container .center .info-box {
  height: 200px;
  padding: 0 20px;
  margin-bottom: 20px;
}
.info-box .inner-info-box .column-b {
  float: left;
  width: 50%;
}
.info-box .inner-info-box .column-b:first-child {
  border-right: dotted 1px #665f5f;
}
.info-box .inner-info-box .column-b:last-child {
  padding-left: 60px;
}
footer {
  height: 320px;
  background-color: #4682b4;
  border-top: solid 1px #104f83;
  position: relative;
}
footer .center {
  padding: 30px 0;
  padding-bottom: 10px;
}
footer .center .info-box {
  padding: 0 20px;
  margin-bottom: 20px;
}
footer .column {
  float: left;
  width: 33.33%;
}
footer .column:last-child {
  text-align: center;
}
footer h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 18px;
}
footer i {
  color: #fff;
}
footer .column span {
  margin-left: 5px;
  color: #fff;
  font-size: 18px;
}
footer .column button {
  padding-left: 35px;
  padding-right: 35px;
}
footer .column-c {
  width: 25%;
  float: left;
}
footer .column-c ul {
  margin-top: 30px;
}
footer .column-c b,
footer .column-c a {
  color: #fff;
}
footer .column-c i {
  margin-right: 6px;
}
footer .center .info-box.last-box {
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
}
footer .center .info-box.last-box a {
  color: #fff;
}
footer .center .info-box.last-box a:hover {
  text-decoration: underline;
}
