#sign-up-box .center .inner-info-box, 
#doctor-sign-up-box .center .inner-info-box, 
#personal .center .inner-info-box,
#pictures .center .inner-info-box,
#password_change .center .inner-info-box,
#studies .center .inner-info-box,
#locations .center .inner-info-box,
#user_settings .center .inner-info-box,
#settings .center .inner-info-box,
#gallery .center .inner-info-box,
#hospitals .center .inner-info-box,
#insurances .center .inner-info-box,
#practices .center .inner-info-box,
#hospital_info .center .inner-info-box,
#hospital_pic .center .inner-info-box,
#hospital_location .center .inner-info-box,
#insurance_info .center .inner-info-box,
#insurance_pic .center .inner-info-box,
#type_list .center .inner-info-box,
#practice_info .center .inner-info-box,
#reasons .center .inner-info-box,
#appointmets .center .inner-info-box
	padding: 55px 0;

#doctor-sign-in-box .inner-info-box,
#doctor-recover-password .inner-info-box,
#user-recover-password .inner-info-box,
#account-confirmation .inner-info-box
	padding: 115px 0;
	
#sign-in-box .center .inner-info-box, 	
	padding: 85px 0;

#sign-up-box .inner-info-box .form-box, #doctor-sign-up-box .inner-info-box .form-box 
	width: 60%;
	margin: 0 auto;
	padding: 25px;
	background-color: #C7DFEC;
	border: solid 1px #97C2DF;
	border-radius: 8px;

#personal .inner-info-box .form-box, 
#pictures .center .inner-info-box,
#password_change .inner-info-box .form-box,
#studies .inner-info-box .form-box,
#locations .inner-info-box .form-box,
#user_settings .center .inner-info-box,
#settings .center .inner-info-box,
#gallery .center .inner-info-box,
#hospitals .center .inner-info-box,
#insurances .center .inner-info-box,
#practices .center .inner-info-box,
#hospital_info .center .inner-info-box,
#hospital_pic .center .inner-info-box,
#hospital_location .center .inner-info-box,
#insurance_info .center .inner-info-box,
#insurance_pic .center .inner-info-box,
#type_list .center .inner-info-box,
#practice_info .center .inner-info-box,
#reasons .center .inner-info-box,
#appointmets .center .inner-info-box
	width: 80%;
	margin: 0 auto;

#personal .radio-inline
	margin-right: 25px;

#studies textarea
	height 110px
	margin-bottom: 25px;

#sign-in-box .inner-info-box .form-box, 
#doctor-sign-in-box .inner-info-box .form-box,
#doctor-recover-password .inner-info-box .form-box,
#user-recover-password .inner-info-box .form-box,
#account-confirmation .inner-info-box .form-box
	width: 45%;
	margin: 0 auto;
	padding: 25px;
	background-color: #C7DFEC;
	border: solid 1px #97C2DF;
	border-radius: 8px;
	text-align: center;

#sign-in-box .col-md-6, 
#doctor-sign-in-box .col-md-6,
#doctor-recover-password .col-md-6,
#user-recover-password .col-md-6 
	width: 75%;
	float: none;
	margin: 0 auto;

.form-box h2
	margin: 0;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: solid 1px #97c2df;
	text-align: center;
	
.form-box p
	margin-bottom 35px
	color #2A6496

.form-box .form-group 
	margin-bottom: 5px;

.form-box .form-group select 
	margin-bottom: 25px;
	border: solid 2px #B8B4B4;

.form-box .form-group.last-form-element
	margin-bottom: 30px;

.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
	margin-top: 0;
	margin-left: 0px;
	width: 110px;
}

.settings-label
	font-size 15px
	
.form-block
	padding 15px 0
	margin-bottom 15px
	
#sign-up-box .col-md-4.center-button, #doctor-sign-up-box .col-md-4.center-button
	float: none;
	margin: 0 auto;
	text-align: center;
	
#sign_in_submit
	margin-top 25px

.ng-invalid.ng-dirty
	border-color: #FA787E

.ng-valid.ng-dirty
	border-color: #78FA89

.error
	color #F4464D
	margin-bottom: 15px;
	font-size: 13px;
	
.warning
	text-align: center;
	font-size: 12px;
	color: #3071A9;
	
#add_type_list
	margin-bottom 20px
	
#studies .in-container .form-control
	width 85%
	
.center-input
	text-align center
	color: #3071a9;