#sign-up-box .center .inner-info-box
	padding: 55px 0;

.inner-info-box .form-box
	width: 60%;
	margin: 0 auto;
	padding: 25px;
	background-color: #C7DFEC;
	border: solid 1px #97C2DF;
	border-radius: 8px;

.form-box h2
	margin: 0;
	margin-bottom: 35px;

.form-box .form-group 
	margin-bottom: 5px;

.form-box .form-group.last-form-element
	margin-bottom: 30px;
