<div class="container-fluid">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
		<li><a href="#">Cuenta</a></li>
		<li class="active"><a href="#">Doctores</a></li>
		<li><a href="#">Usuarios</a></li>
		<li><a href="#">Pagos</a></li>
		<li><a href="#">Estadísticas</a></li>
	  </ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<div>
			<div id="results-box">
				<div class="center">
					<div class="results-page">
						<div class="filters-container">
							<form name="getDoctors" ng-submit="adminCtrl.getDoctors()" novalidate>
								<div>
									<label for="practice_list">Especialidad</label>
									<select class="form-control" name="practice_list" id="practice_list" ng-model="adminCtrl.practice" ng-options="op.name for op in adminCtrl.practices">
									  <option value="">- Seleccione una especialidad -</option>
					                </select>
								</div>
								<div>
									<label for="city_list">Ciudad</label>
									<select class="form-control" name="city" id="city" ng-model="adminCtrl.city" ng-options="op.name for op in adminCtrl.cities">
					                  <option value="">- Seleccione una ciudad -</option>
					                </select>
								</div>
								<div>
									<label for="insurance_list">Aseguradora</label>
									<select class="form-control" name="insurance_list" id="insurance_list" ng-model="adminCtrl.insurance" ng-options="op.name for op in adminCtrl.insurances">
					                  <option value="">- Seleccione una aseguradora -</option>
					                </select>
								</div>
								<div>
									<button id="search_doctor" name="search_doctor" class="btn btn-success btn-block btn-lg">Buscar</button>
								</div>
							</form>
						</div>
						<div class="results-container">
							<!-- <div>
								<div class="docs-list" ng-repeat="doctor in doc.docs">
									<div class="doc-box">
										<div class="doc-photo">
											<div class="inner-doc-photo">
												<div ng-if="doctor.gender == 1">
													<img ng-if="!doctor.profile_pic" ng-src="http://medicalappjournal.com/images/Male_Doctor.png">
													<img ng-if="doctor.profile_pic" ng-src="{{doctor.profile_pic.image_url}}">
												</div>	
												<div ng-if="doctor.gender != 1">
													<img ng-if="!doctor.profile_pic" src="http://www.medicalappjournal.com/images/Female_Doctor.png">
													<img ng-if="doctor.profile_pic" ng-src="{{doctor.profile_pic.image_url}}">
												</div>
											</div>
										</div>
										<div class="doc-info">
											<div class="doc-name"><span>
													<a href="#/doctor/{{doctor._id}}">
													<label ng-if="doctor.gender == 1">Dr.</label>
													<label ng-if="doctor.gender != 1">Dra.</label>
													{{doctor.name}}  
													{{doctor.lastname}}</a>
												</span></div>
											<div class="doc-address">
												<div class="doc-speciality"><b>{{doctor.practice_list[0].name}}</b></div>
												<div class="doc-adress-location"><p>{{doctor.address}}</p></div>
											</div>
											<div class="doc-review"></div>
											<div class="book-options">
												<a href="#/" class="btn btn-success btn-lg">Pedir cita</a>
												<a href="#/doctor/{{doctor._id}}" class="btn btn-info btn-lg">Ver perfil</a>
											</div>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>