<script src="../www/js/libs/add_this_event.js"></script>
<script type="text/javascript">
    //$( document ).ready(function() {
		addthisevent.settings({
			mouse		: false,
			css			: false,
			outlook		: {show:true, text:"Outlook Calendar"},
			google		: {show:true, text:"Google Calendar"},
			yahoo		: {show:true, text:"Yahoo Calendar"},
			ical		: {show:true, text:"iCal Calendar"},
			hotmail		: {show:true, text:"Hotmail Calendar"},
			facebook	: {show:true, text:"Facebook Calendar"}
		});
    //});
</script>
<div id="sign-up-box">
	<div class="center">
		<div class="inner-info-box">
			<div class="form-box" >
				<h2>Reserva tu cita</h2>
				<form class="form-horizontal" name="bookingForm" ng-submit="bkngCtrl.bookAppointment()" novalidate>
				<fieldset>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="reason">Motivo de cita</label>  
					  <div class="col-md-6">
					  <input id="reason" name="reason" type="text" placeholder="" class="form-control input-md" ng-model="bkngCtrl.data.reason" required>
					  </div>
					</div>
					<div class="form-group last-form-element">
					  <label class="col-md-4 control-label" for="gender">Paciente</label>
					  <div class="col-md-4"> 
						<label class="radio-inline" for="myself">
						  <input type="radio" name="myself" id="myself" value="true" checked="checked" ng-model="bkngCtrl.data.patient_is_user">
						  {{userData.username}}
						</label> 
						<label class="radio-inline" for="other_patient">
						  <input type="radio" name="other-patient" id="other-patient" value="false" ng-model="bkngCtrl.data.patient_is_user">
						  Otra persona
						</label>
					  </div>
					</div>
					<div class="form-group" ng-if="bkngCtrl.data.patient_is_user == 'false'">
					  <label class="col-md-4 control-label" for="patient_name">Nombre de Paciente</label>  
					  <div class="col-md-6">
					  <input id="patient-name" name="patient_name" type="text" placeholder="" class="form-control input-md" ng-model="bkngCtrl.data.patient_name" required>
					  </div>
					</div>

					<div class="form-group">
					  <label class="col-md-4 control-label" for="insurance_name">Aseguradoras</label>
					  <div class="col-md-6">
					  	<div class="pl-container">
					  		<!-- <select id="insurance" name="insurance" class="form-control" ng-model="bkngCtrl.data.insurance.insurance" ng-options="name for name in insurances">
						  		<option value="">- Pago como particular -</option>
							</select> -->
							<select id="insurance" name="insurance" class="form-control" ng-model="bkngCtrl.data.final_insurance" ng-options="name for name in insurances">
						  		<option value="">- Pago como particular -</option>
							</select>
							<!-- <select ng-show="bkngCtrl.data.insurance.insurance" id="insurance_type" name="insurance_type" class="form-control" ng-model="bkngCtrl.data.insurance.insurance_type" ng-options="type for type in getInsurances(bkngCtrl.data.insurance.insurance)">
						  		<option value="">- Selecciona un seguro -</option>
							</select> -->
					  	</div>
					  </div>
					</div>

					<div class="form-group">
					  <label class="col-md-4 control-label" for="patient_phone">Teléfono</label>  
					  <div class="col-md-6">
					  <input id="patient_phone" name="patient_phone" type="text" placeholder="" class="form-control input-md" ng-model="bkngCtrl.data.patient_phone" ng-pattern="/^\d+$/" required>
					  <div class="error" ng-show="bookingForm.patient_phone.$dirty && bookingForm.patient_phone.$invalid">
						  <small class="error" ng-show="bookingForm.patient_phone.$error.required">Por favor escribe tu teléfono.</small>
						  <small class="error" ng-show="bookingForm.patient_phone.$error.pattern">Tu número telefónico solo debe contener números y ningún espacio.</small>
					  </div>
					  </div>
					</div>
					<div class="form-group last-form-element center-fix">
						<a href="http://example.com/link-to-your-event" target="_blank" title="Add to Calendar" class="addthisevent">
						    Agregar a mi calendario
						    <span class="_start">{{eventStart | date:"MMM dd hh:mm a"}}</span>
						    <span class="_end">{{eventEnd | date:"MMM dd hh:mm a"}}</span>
						    <span class="_zonecode">14</span>
						    <span class="_summary">Cita Médica</span>
						    <span class="_description">{{bkngCtrl.data.reason}}</span>
						    <span class="_location">{{doctorInfo.location[0].location_address}}</span>
						    <span class="_organizer">{{doctorInfo.doctor_name}}</span>
						</a>
					</div>
					<div class="form-group">
					  <div class="col-md-4 center-button">
						<button id="sign_up_submit" name="sign_up_submit" class="btn btn-primary">Agendar cita</button>
					  </div>
					</div> 
				</fieldset>
				</form>
			</div> 
		</div>
	</div>
</div>
