<div id="account-confirmation">
	<div class="center">
		<div class="inner-info-box">
			<div class="form-box">
				<p ng-hide="type">
					Te hemos enviado un e-mail para la activación de tu cuenta. 
					<br>
					Estas a solo un paso de ser parte de DocLinea!
					<br>
					Si no has recibido el mensaje, puedes reenviarlo en el siguiente botón.:
					<div class="center-button">
						<button  ng-hide="type" ng-click="confirmCtrl.sendEmailVerification()" class="btn btn-primary">Reenviar correo</button>
					</div>
				</p>
				<p ng-show="type">
					Ahora que se ha activado tu cuenta con éxito, puedes iniciar sesión en DocLinea.
				</p>
				<div class="center-button" ng-if="type == 'doctor'">
					<a href="#/doctor_sign_in/" id="to_doc_login" name="toDocLogin" class="btn btn-primary">Inicar sesión</a>
				</div>
				<div class="center-button" ng-if="type == 'user'">
					<a href="#/sign_in/" id="to_user_login" name="toUserLogin" class="btn btn-primary">Iniciar sesión</a>
				</div>
			</div>
		</div>
	</div>
</div>