<div id="doctor-sign-up-box">
	<div class="center">
		<div class="inner-info-box">
			<div class="form-box" >
				<h2>Registro de Doctores</h2>
				<form class="form-horizontal" name="doctorSignUpForm" ng-controller="DoctorSignUpController as docSignUpCtrl" ng-submit="docSignUpCtrl.signUp()" novalidate>
				<!-- <form class="form-horizontal" name="signUpForm" ng-controller="SignUpController as signUpCtrl" ng-submit="signUpCtrl.signUp()" novalidate> -->
				<fieldset>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="name">Nombres</label>  
					  <div class="col-md-6">
					  <input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docSignUpCtrl.data.name">
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="last_name">Apellidos</label>  
					  <div class="col-md-6">
					  <input id="last_name" name="last_name" type="text" placeholder="" class="form-control input-md"  ng-model="docSignUpCtrl.data.lastname">
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="email">Email</label>  
					  <div class="col-md-6">
					  <input id="email" name="email" type="text" placeholder="" class="form-control input-md"  ng-model="docSignUpCtrl.data.email">
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="password">Contraseña</label>
					  <div class="col-md-6">
						<input id="password" name="password" type="password" placeholder="" class="form-control input-md" ng-model="docSignUpCtrl.data.password" equals="{{docSignUpCtrl.data.password_verify}}" required>
						<div ng-show="form.password.$error.required" class="alert alert-danger" role="alert">Campo obligatorio</div>
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="password">Confirmar contraseña</label>
					  <div class="col-md-6">
						<input id="password" name="confirm_password" type="password" placeholder="" class="form-control input-md" ng-model="docSignUpCtrl.data.password_verify" required data-password-verify="docSignUpCtrl.data.password"  equals="{{docSignUpCtrl.data.password}}" required>
						<div ng-show="form.confirm_password.$error.required" class="alert alert-danger" role="alert">Campo obligatorio</div>
						<div ng-show="form.confirm_password.$error.passwordVerify" class="alert alert-danger" role="alert">Las contraseñas no coinciden</div>
					  </div>
					</div>
					<div class="form-group last-form-element">
					  <label class="col-md-4 control-label" for="gender">Género</label>
					  <div class="col-md-4"> 
						<label class="radio-inline" for="gender-0">
						  <input type="radio" name="gender" id="gender-0" value="1" checked="checked" ng-model="docSignUpCtrl.data.gender">
						  Masculino
						</label> 
						<label class="radio-inline" for="gender-1">
						  <input type="radio" name="gender" id="gender-1" value="2"  ng-model="docSignUpCtrl.data.gender">
						  Femenino
						</label>
					  </div>
					</div>
					<div class="form-group last-form-element">
					  <label class="col-md-4 control-label" for="patient_gender">Género de paciente</label>
					  <div class="col-md-4"> 
						<label class="radio-inline" for="patient_gender-0">
						  <input type="radio" name="patient_gender" id="patient_gender-0" value="1" checked="checked" ng-model="docSignUpCtrl.data.patient_gender">
						  Masculino
						</label> 
						<label class="radio-inline" for="patient_gender-1">
						  <input type="radio" name="patient_gender" id="patient_gender-1" value="2"  ng-model="docSignUpCtrl.data.patient_gender">
						  Femenino
						</label>
						<label class="radio-inline" for="patient_gender-2">
						  <input type="radio" name="patient_gender" id="patient_gender-2" value="3"  ng-model="docSignUpCtrl.data.patient_gender">
						  Ambos
						</label>
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="phone">Teléfono</label>  
					  <div class="col-md-6">
					  <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md"  ng-model="docSignUpCtrl.data.phone">
					  </div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="city">Ciudad</label>
						<div class="col-md-6">
						<select class="form-control" name="city" id="city" ng-model="docSignUpCtrl.data.city">
						  <option>Bogotá</option>
						  <option>Medellín</option>
						  <option>Cali</option>
						  <option>Barranquilla</option>
						  <option>Pereira</option>
						  <option>Bucaramanga</option>
						</select>
						</div>
					</div>
					<div class="form-group" ng-if="docSignUpCtrl.data.city == 'Bogotá'">
						<label class="col-md-4 control-label" for="localidad">Localidad</label>
						<div class="col-md-6">
						<select class="form-control" name="localidad" id="localidad" ng-model="docSignUpCtrl.data.localidad" ng-options="localidad.name for localidad in localidades">
						</select>
						</div>
					</div>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="address">Dirección</label>  
					  <div class="col-md-6">
					  <input id="address" name="address" type="text" placeholder="" class="form-control input-md"  ng-model="docSignUpCtrl.data.address">
					  </div>
					</div>
					<div class="form-group last-form-element">
					  <label class="col-md-4 control-label" for="practice">Especialidad</label>
					  <div class="col-md-6">
						<select id="practice_list" name="practice_list" class="form-control" ng-model="docSignUpCtrl.data.practice_list"  ng-options="practice.name for practice in practices track by practice.id">
						</select>
					  </div>
					</div>
					<div class="form-group">
					  <div class="col-md-4 center-button">
						<button id="doctor_sign_up_submit" name="doctor_sign_up_submit" class="btn btn-primary">Registrarse</button>
					  </div>
					</div>
				</fieldset>
				<!-- </form> -->
				</form>
			</div> 
		</div>
	</div>
</div>