<div class="container-fluid" ng-controller="DocDashboardController as docDashCtrl">
	  <div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
		  <ul class="nav nav-sidebar">
			<li><a href="#">Citas</a></li>
			<li class="active"><a href="#">Cuenta</a></li>
			<li><a href="#">Pagos</a></li>
			<li><a href="#">Estadísticas</a></li>
		  </ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		  <h2 class="sub-header">Cuenta</h2>
		  <ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#personal" role="tab" data-toggle="tab">Datos Personales</a></li>
			  <li><a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#pictures" role="tab" data-toggle="tab">Imágenes</a></li>
			  <li><a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#password_change" role="tab" data-toggle="tab">Contraseña</a></li>
			  <li><a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#studies" role="tab" data-toggle="tab">Formación académica</a></li>
			  <li><a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#locations" role="tab" data-toggle="tab">Locaciones</a></li>
		  </ul>

		  <div class="tab-content" ng-init="docDashCtrl.info">
			  
			  <div class="tab-pane active" id="personal">
				<div class="center">
					<div class="inner-info-box">
						<div class="form-box">
							<form class="form-horizontal" name="changePersonalDocInfo" ng-submit="docDashCtrl.updateDoctor()">
							<fieldset>
								<div class="form-group">
								  <label class="col-md-4 control-label" for="name">Nombres</label>  
								  <div class="col-md-6">
								  <input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								  </div>
								</div>
								<div class="form-group">
								  <label class="col-md-4 control-label" for="last_name">Apellidos</label>  
								  <div class="col-md-6">
								  <input id="last_name" name="last_name" type="text" placeholder="" class="form-control input-md"  ng-model="docDashCtrl.info.lastname">
								  </div>
								</div>
								<div class="form-group">
								  <label class="col-md-4 control-label" for="email">Email</label>  
								  <div class="col-md-6">
								  <input disabled id="email" name="email" type="text" placeholder="" class="form-control input-md"  ng-model="docDashCtrl.info.email">
								  </div>
								</div>
								<div class="form-group last-form-element">
								  <label class="col-md-4 control-label" for="gender">Género</label>
								  <div class="col-md-4"> 
									<label class="radio-inline" for="gender-0">
									  <input type="radio" name="gender" id="gender-0" value="1" checked="checked" ng-model="docDashCtrl.info.gender">
									  Masculino
									</label> 
									<label class="radio-inline" for="gender-1">
									  <input type="radio" name="gender" id="gender-1" value="2"  ng-model="docDashCtrl.info.gender">
									  Femenino
									</label>
								  </div>
								</div>
								<div class="form-group last-form-element">
								  <label class="col-md-4 control-label" for="patient_gender">Género de paciente</label>
								  <div class="col-md-4"> 
									<label class="radio-inline" for="patient_gender-0">
									  <input type="radio" name="patient_gender" id="patient_gender-0" value="1" checked="checked" ng-model="docDashCtrl.info.patient_gender">
									  Masculino
									</label> 
									<label class="radio-inline" for="patient_gender-1">
									  <input type="radio" name="patient_gender" id="patient_gender-1" value="2"  ng-model="docDashCtrl.info.patient_gender">
									  Femenino
									</label>
									<label class="radio-inline" for="patient_gender-2">
									  <input type="radio" name="patient_gender" id="patient_gender-3" value="3"  ng-model="docDashCtrl.info.patient_gender">
									  Ambos
									</label>
								  </div>
								</div>
								<div class="form-group">
								  <label class="col-md-4 control-label" for="phone">Teléfono</label>  
								  <div class="col-md-6">
								  <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.phone">
								  </div>
								</div>
								<div class="form-group">
								  <div class="col-md-4 center-button">
									<input type="submit" class="btn btn-primary" value="Guardar">
									<a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#personal" class="btn btn-warning">Cancelar</a>
								  </div>
								</div>
							</fieldset>
							</form>
						</div> 
					</div>
				</div>
			</div>

			<div class="tab-pane" id="pictures">
				<div class="center">
					<div class="inner-info-box">
						<div class="form-box">
							<form class="form-horizontal" name="loadDocPictures" enctype="multipart/form-data" ng-submit="docDashCtrl.updateProfilePic()">
							<fieldset>
								<div class="form-group">
								  <label class="col-md-4 control-label" for="email">Foto de perfil</label>  
								  <div class="col-md-6">
								  <img id="profile-pic" src="#" class="img-thumbnail" />
								  <input id="image" name="image" type="file" class="form-control input-md" ng-model="docDashCtrl.info.profile_pic">
								  </div>
								</div>
								<div class="form-group">
								  <div class="col-md-4 center-button">
									<button id="doctor_sign_up_submit" name="doctor_sign_up_submit" class="btn btn-primary">Guardar</button>
									<button id="doctor_sign_up_submit" name="doctor_sign_up_submit" class="btn btn-warning">Cancelar</button>
								  </div>
								</div>
							</fieldset>
							</form>
						</div> 
					</div>
				</div>
			</div>

			<div class="tab-pane" id="password_change">
				<div class="center">
					<div class="inner-info-box">
						<div class="form-box">
							<form class="form-horizontal" name="changePasswordDoc">
							<fieldset>
								<div class="form-group">
								  <label class="col-md-4 control-label" for="password">Ingrese su contraseña actual</label>
								  <div class="col-md-6">
									<input id="password" name="password" type="password" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.password">
								  </div>
								</div>
								<div class="form-group">
								  <label class="col-md-4 control-label" for="password">Ingrese su nueva contraseña</label>
								  <div class="col-md-6">
									<input id="password" name="password" type="password" placeholder="" class="form-control input-md" ng-model="docSignUpCtrl.data.password">
								  </div>
								</div>
								<!--<div class="form-group">
								  <label class="col-md-4 control-label" for="password">Confirme su nueva contraseña</label>
								  <div class="col-md-6">
									<input id="password" name="password" type="password" placeholder="" class="form-control input-md" ng-model="docSignUpCtrl.data.password">
								  </div>
								</div>-->
								<div class="form-group">
								  <div class="col-md-4 center-button">
									<button id="doctor_sign_up_submit" name="doctor_sign_up_submit" class="btn btn-primary">Guardar</button>
									<button id="doctor_sign_up_submit" name="doctor_sign_up_submit" class="btn btn-warning">Cancelar</button>
								  </div>
								</div>
							</fieldset>
							</form>
						</div> 
					</div>
				</div>
			</div>

			<div class="tab-pane" id="studies">
				<div class="center">
					<div class="inner-info-box">
						<div class="form-box">
							<form class="form-horizontal" name="changeStudiesDocInfo">
							<fieldset>
								<div class="form-group">
								  <label class="col-md-4 control-label" for="practice_list">Especialidad</label>
								  <div class="col-md-6">
									<select id="practice_list" name="practice_list" class="form-control" ng-model="docDashCtrl.selectedPractice.name" ng-value="docDashCtrl.info.selectedPractice.name" ng-options="op.name for op in docDashCtrl.practices">
										<option></option>
									  <!--<option>Pediatra</option>
									  <option>Odontólogo</option>
									  <option>Ortopedista</option>
									  <option>Ginecólogo</option>
									  <option>Fonoaudiólogo</option>-->
									</select>
								  </div>
								</div>
								<!--<div class="form-group">
								  <label class="col-md-4 control-label" for="practice_list">Especialidad</label>  
								  <div class="col-md-6">
								  <input id="practice_list" name="practice_list" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.practice_list">
								  </div>
								</div>-->
								<div class="form-group">
								  <label class="col-md-4 control-label" for="education_list">Formación académica</label>  
								  <div class="col-md-6">
								  <input id="education_list" name="education_list" type="text" placeholder="" class="form-control input-md" ng-model="docSignUpCtrl.data.education_list">
								  </div>
								</div>
								<div class="form-group">
								  <label class="col-md-4 control-label" for="description">Descripción</label>  
								  <div class="col-md-6">
								  <textarea id="description" name="description" type="text" placeholder="" class="form-control input-md" ng-model="docSignUpCtrl.data.description"></textarea>
								  </div>
								</div>
								<div class="form-group">
								  <label class="col-md-4 control-label" for="profesional_membership">Membresías Profesionales</label>  
								  <div class="col-md-6">
								  <input id="profesional_membership" name="profesional_membership" type="text" placeholder="" class="form-control input-md" ng-model="docSignUpCtrl.data.profesional_membership">
								  </div>
								</div>
								<div class="form-group last-form-element">
								  <label class="col-md-4 control-label" for="insurance_list">Aseguradoras</label>
								  <div class="col-md-6">
									<select id="insurance_list" name="insurance_list" class="form-control"  ng-model="docSignUpCtrl.data.insurance_list">
									  <option value="1">Sura</option>
									  <option value="2">Colpatria</option>
									  <option value="3">Compensar</option>
									</select>
								  </div>
								</div>
								<div class="form-group">
								  <div class="col-md-4 center-button">
									<button id="doctor_sign_up_submit" name="doctor_sign_up_submit" class="btn btn-primary">Guardar</button>
									<button id="doctor_sign_up_submit" name="doctor_sign_up_submit" class="btn btn-warning">Cancelar</button>
								  </div>
								</div>
							</fieldset>
							</form>
						</div> 
					</div>
				</div>
			</div>

			<div class="tab-pane" id="locations">
				<div class="center">
					<div class="inner-info-box">
						<div class="form-box">
							<form class="form-horizontal" name="changePersonalDocInfo">
							<fieldset>
								<div class="form-group">
									<label class="col-md-4 control-label" for="city">Ciudad</label>
									<div class="col-md-6">
									<select class="form-control" name="city" id="city" ng-model="docSignUpCtrl.data.city">
									  <option>Bogotá</option>
									  <option>Medellín</option>
									  <option>Cali</option>
									  <option>Barranquilla</option>
									  <option>Pereira</option>
									  <option>Bucaramanga</option>
									</select>
									</div>
								</div>
								<div class="form-group" ng-if="docSignUpCtrl.data.city == 'Bogotá'">
									<label class="col-md-4 control-label" for="localidad">Localidad</label>
									<div class="col-md-6">
									<select class="form-control" name="localidad" id="localidad" ng-model="docSignUpCtrl.data.localidad" ng-options="localidad.name for localidad in localidades">
									</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label" for="location_list">Busque su ubicación en el mapa</label>
								    <div class="map-box">
										<div>
							    			<div id="location-map" class="location-map"></div>
										</div>
									</div>
								</div>
							</fieldset>
							</form>
						</div> 
					</div>
				</div>
			</div>

		</div>

		</div>
	  </div>
	</div>