<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">x</button>
	<h3>Términos y Condiciones</h3>
</div>
<div class="modal-body">
	<p class="terms-box">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique tincidunt erat. Pellentesque porttitor hendrerit tempus. Sed et nisl elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin sit amet dictum nisi. Etiam ac eleifend ex. Ut et tortor euismod, condimentum nulla ullamcorper, fermentum nisl. Fusce et sem eleifend, volutpat urna ac, viverra dui. Maecenas vulputate nibh tempus, fringilla nisi quis, dapibus magna. Suspendisse placerat orci nec euismod aliquam.

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna risus, eleifend ut lacus eu, sagittis dignissim elit. In mollis nisi arcu, eget accumsan ligula feugiat ac. Nullam elit purus, tempus in lorem a, iaculis eleifend metus. Phasellus eros magna, pulvinar nec velit vel, fringilla pretium lorem. Sed scelerisque tellus viverra aliquam auctor. Aenean quis dignissim lectus, nec facilisis diam. Donec risus ipsum, porta ut risus eu, ultricies malesuada diam. In egestas euismod eros in congue. Vivamus tempor commodo felis eu imperdiet. Phasellus interdum vestibulum nisi eu venenatis. Vestibulum aliquam ut dolor vitae varius. Nam volutpat nunc quis tempus bibendum.
	</p>
	<div style="text-align: center;">
	    <button id="recover-submit" ng-click="cancel()" class="btn btn-primary">Acepto</button>
	</div>
</div>