<div id="doc-profile">
	<div class="center">
		<div class="inner-doc-profile">
			<div class="doc-main-info">
				<div class="doc-main-photo">
					<div class="inner-doc-main-photo">
						<div ng-if="profile.dProfile.gender == 1">
							<img ng-if="!profile.dProfile.profile_pic" ng-src="http://medicalappjournal.com/images/Male_Doctor.png">
							<img ng-if="profile.dProfile.profile_pic" ng-src="{{profile.dProfile.profile_pic.image_url}}">
						</div>	
						<div ng-if="profile.dProfile.gender != 1">
							<img ng-if="!profile.dProfile.profile_pic" ng-src="http://www.medicalappjournal.com/images/Female_Doctor.png">
							<img ng-if="profile.dProfile.profile_pic" ng-src="{{profile.dProfile.profile_pic.image_url}}">
						</div>
					</div>
				</div>
				<div class="inner-doc-main-info">
					<div class="doc-title">
						<span class="doc-title-name">
						<label ng-if="profile.dProfile.gender == 1">Dr.</label>
						<label ng-if="profile.dProfile.gender != 1">Dra.</label>
						{{profile.dProfile.name}}
						{{profile.dProfile.lastname}}</span>
						<span class="doc-title-speciality">{{profile.dProfile.practice_list[0].name}}</span>
					</div>
					<div class="doc-rating">
						<div class="average-rating">
							<span class="rating-title">Opinión Promedio</span>
							<div class="visual-rating"></div>
							<a href="#extra-doc-info" class="link-reviews scroll">Ver comentarios</a>
						</div>
						<a href="#doc-book" class="btn btn-success btn-lg scroll">Pedir cita</a>
					</div>
					<div class="doc-description">
						<div class="doc-specs">
							<span class="specs-title">Especialidades</span>
							<ul>
								<li ng-repeat="practice in profile.dProfile.practice_list"><a href="/#/search/{{encodedParam}}/{{practice.name}}/{{encodedParam}}">{{practice.name}}</a></li>
							</ul>
						</div>
						<div class="doc-profile-description">
							<div class="description-title">Descripción</div>
							<p class="description-text">{{profile.dProfile.description | limitTo: 260}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="doc-box-location">
				<div class="inner-doc-box-location">
					<div class="map-box">
						<div>
			    			<div id="profile-map"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="doc-book">
	<div class="center">
		<div class="inner-doc-profile">
			<h2>Pida una cita</h2>
			<div class="book-box">
				<div class="doc-schedule">
					<div class="inner-doc-schedule">
						<div role="main">
						    <div>
						        <section id="directives-calendar" ng-controller="CalendarCtrl" ><div>
						                <div class="row-fluid">
						                    <!-- <div class="span4">
						                        <div class="btn-group calTools">
						                          <button type="button" class="btn btn-primary" ng-click="addEvent(0)">
						                            Evento Doclinea
						                          </button>
						                          <button type="button" class="btn btn-success" ng-click="addEvent(1)">
						                            Evento Externo
						                          </button>
						                        </div>

						                        <ul class="unstyled">
						                            <li ng-repeat="e in events">
						                                <div class="alert alert-info" style="background:{{e.color}}; color:{{e.textColor}};">
						                                    <a class="close" ng-click="remove($index)"><i class="icon-remove"></i>x</a>
						                                    <b> <input ng-model="e.title"></b> 
						                                    {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
						                                </div>
						                            </li>
						                        </ul>
						                    </div> -->

						                    <div class="span8">
						                        <tabset>
						                            <tab select="renderCalender(myCalendar1);">
						                              <tab-heading>
						                               <i class="glyphicon glyphicon-bell"></i> Horarios disponibles
						                              </tab-heading>
						                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
						                                <h4>{{alertMessage}}</h4>
						                              </div>
						                              <div class="btn-toolbar">
						                                <p class="pull-right lead"></p>
						                                <div class="btn-group">
						                                    <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">Día</button>
						                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">Semana</button>
						                                    <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Mes</button>
						                                </div>
						                              </div>
						                            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
						                           <span ng-init="changeView('agendaWeek', myCalendar1)"></span>
						                           </tab>
						                        </tabset>
						                    </div>
						                </div>
						            </div>
						         </section>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="extra-doc-info">
	<div class="center">
		<div class="inner-doc-profile">
			<div class="doc-details">
				<h3>Información adicional</h3>
				<div class="doc-education">
					<span>Formación académica</span>
					<ul>
						<li ng-repeat="education in profile.dProfile.education_list">{{education.institute_name}}</li>
					</ul>
				</div>
				<div class="doc-membership">
					<span>Membresías profesionales</span>
					<ul>
						<li ng-repeat="membership in profile.dProfile.profesional_membership">{{membership}}</li>
					</ul>
				</div>
				<div class="doc-insurances">
					<span>Aseguradoras</span>
					<ul>
						<li ng-repeat="insurance in profile.dProfile.insurance_list"><a href="#">{{insurance}}</a></li>
					</ul>
				</div>
				<div class="doc-practices">
					<span>Especialidades</span>
					<ul>
						<li ng-repeat="practice in profile.dProfile.practice_list"><a href="/#/search/{{encodedParam}}/{{practice.name}}/{{encodedParam}}">{{practice.name}}</a></li>
					</ul>
				</div>
			</div>
			<div class="doc-list-reviews">
				<h3>Comentarios</h3>
				<div class="review-box">
					<div class="items-reviewed">
						<span class="rating-title">Opinión General</span>
						<div class="visual-rating"></div>
						<span class="rating-title">Trato al Paciente</span>
						<div class="visual-rating"></div>
						<span class="rating-title">Tiempo de Espera</span>
						<div class="visual-rating"></div>
					</div>
					<div class="post-date">
						<span>26 de Agosto de 2014</span>
						<span>por Pepito Perez</span>
					</div>
					<div class="review-text">
						<p>El doctor me pareció buena gente y de muy buen humor.
						Me dió un buen diagnostico así que lo recomiendo para
						futuras citas.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../www/js/front.js"></script>
