<div id="main_container">
		<div class="center">
			<div id="main-box">
				<div class="mb-left">
					<div id="mb-form-box">
						<p>Encuentra un médico y pide una cita ahora mismo</p>
						<form id="main-form" name="searchDoctorForm" ng-controller="LandpageDocSearchController as landDocSearchCtrl" ng-submit="landDocSearchCtrl.searchDoctor()" novalidate>
							<label for="practice_list">Especialidad</label>
							<select class="form-control" name="practice_list" id="practice_list" ng-model="landDocSearchCtrl.selectedPractice" ng-options="op.name for op in landDocSearchCtrl.practices">
							  <option value="" >- Selecciona una especialidad -</option>
							</select>
							<label for="city">Ciudad</label>
							<select class="form-control" name="city" id="city" ng-model="landDocSearchCtrl.selectedCity" ng-options="op.name for op in landDocSearchCtrl.cities">
							  <option value="" >- Selecciona una ciudad -</option>
							</select>
							<div ng-if="landDocSearchCtrl.selectedCity.name == 'Bogotá'">
								<label for="localidad">Localidad</label>
								<select class="form-control" name="localidad" id="localidad" ng-model="landDocSearchCtrl.selectedLocalidad" ng-options="localidad.name for localidad in landDocSearchCtrl.localidades">
								  <option value="" >- Selecciona una localidad -</option>
								</select>
							</div>
							<label for="insurance_list">Aseguradora</label>
							<select class="form-control" name="insurance_list" id="insurance_list" ng-model="landDocSearchCtrl.selectedInsurance" ng-options="op.name for op in landDocSearchCtrl.insurances">
							  <option value="" >- Selecciona una aseguradora -</option>
							</select>
							<button id="search_doctor_main" name="search_doctor" class="btn btn-success btn-block btn-lg" >Encontrar doctor</button>
						</form>
					</div>
				</div>
				<div class="mb-right">
					<div class="jumbotron">
						<p>Conoce nuestra plataforma para reservar citas médicas online</p>
						<ul>
							<li><i class="fa fa-medkit fa-lg"></i>
								<span>Contamos con una amplia gama de especialidades.</span>
							</li>
							<li><i class="fa fa-life-ring fa-lg"></i>
								<span>Busca personal médico de la aseguradora de tu preferencia.</span>
							</li>
							<li><i class="fa fa-location-arrow fa-lg"></i>
								<span>Encuentra especialistas en tu localidad y cerca de ti.</span>
							</li>
						</ul>
						<span><b>Tambien disponible en:</b></span>
						<div>
							<a href=""><img src="../www/css/images/logo-app_store.png"></a>
							<a href=""><img src="../www/css/images/android-logo.png"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="info_container">
		<div class="center">
			<div class="info-box">
				<div class="inner-info-box">
					<div class="column">
						<img src="../www/css/images/search.png" />
						<h3>1. BUSCA</h3>
						<p>entre nuestros</p>
						<p class="orange-text">+ 20.000 doctores</p>
					</div>
					<div class="column">
						<img src="../www/css/images/people.png" />
						<h3>2. ENCUENTRA</h3>
						<p>las recomendaciones de</p>
						<p class="orange-text">+ 100.000 pacientes</p>
					</div>
					<div class="column">
						<img src="../www/css/images/calendar.png" />
						<h3>3. AGENDA</h3>
						<p>tu cita sin costo adicional</p>
						<p class="orange-text">+ 50.000 citas</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="providers_container" ng-controller="SearchListsController as listsCtrl">
		<div class="center">
			<div class="info-box">
				<h2>Encuentra proveedores de salud según...</h2>
				<div class="inner-info-box">
					<div class="column">
						<h3>Especialidad</h3>
						<hr>
						<ul>
							<li ng-repeat="practice in listsCtrl.practices">
								<a href="/#/search/{{encodedParam}}/{{practice.name}}/{{encodedParam}}">{{practice.name}}</a>
							</li>
						</ul>
					</div>
					<div class="column">
						<h3>Ciudad</h3>
						<hr>
						<ul>
							<li><a href="/#/search/Bogotá/{{encodedParam}}/{{encodedParam}}">Bogotá</a></li>
							<li><a href="/#/search/Medellín/{{encodedParam}}/{{encodedParam}}">Medellín</a></li>
							<li><a href="/#/search/Cali/{{encodedParam}}/{{encodedParam}}">Cali</a></li>
							<li><a href="/#/search/Barranquilla/{{encodedParam}}/{{encodedParam}}">Barranquilla</a></li>
							<li><a href="/#/search/Pereira/{{encodedParam}}/{{encodedParam}}">Pereira</a></li>
							<li><a href="/#/search/Bucaramanga/{{encodedParam}}/{{encodedParam}}">Bucaramanga</a></li>
						</ul>
					</div>
					<div class="column">
						<h3>Aseguradora</h3>
						<hr>
						<ul>
							<li ng-repeat="insurance in listsCtrl.insurances">
								<a href="/#/search/{{encodedParam}}/{{encodedParam}}/{{insurance.name}}">{{insurance.name}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="docs_container">
		<div class="center">
			<div class="info-box">
				<h2>¿Eres un profesional de la salud?</h2>
				<div class="inner-info-box">
					<div class="column-b">
						<p>DocLinea es un servicio online para agendar citas médicas
						al instante. Descubre como manejar tu lista de citas a la
						vez que recibes calificación por parte de tus pacientes.</p>
						<a href="#/doctor_sign_up#" class="btn btn-info btn-lg">Únete a nosotros</a> 
					</div>
					<div class="column-b">
						<p>Si ya trabajas con DocLinea, ingresa y sigue manejando tu agenda.</p>
						<a href="#/doctor_sign_in" class="btn btn-info btn-lg">Iniciar sesión</a>
					</div>
				</div>
			</div>
		</div>
	</div>