<div id="main_container">
		<div class="center">
			<div id="main-box">
				<div class="mb-left">
					<div id="mb-form-box">
						<p><b>Encuentra un médico y pide una cita ahora mismo</b></p>
						<form id="main-form" name="searchDoctorForm" ng-controller="LandpageDocSearchController as landDocSearchCtrl" ng-submit="landDocSearchCtrl.searchDoctor()" novalidate>
							<label for="practice_list">Especialidad</label>
							<select class="form-control" name="practice_list" id="practice_list" ng-model="landDocSearchCtrl.selectedPractice" ng-options="op.name for op in landDocSearchCtrl.practices">
							  <option value="" >- Selecciona una especialidad -</option>
							</select>
							<label for="city">Ciudad</label>
							<select class="form-control" name="city" id="city" ng-model="landDocSearchCtrl.selectedCity" ng-options="op.name for op in landDocSearchCtrl.cities">
							  <option value="" >- Selecciona una ciudad -</option>
							</select>
							<div ng-if="landDocSearchCtrl.selectedCity.name == 'Bogotá'">
								<label for="localidad">Localidad</label>
								<select class="form-control" name="localidad" id="localidad" ng-model="landDocSearchCtrl.selectedLocalidad" ng-options="localidad.name for localidad in landDocSearchCtrl.localidades">
								  <option value="" >- Selecciona una localidad -</option>
								</select>
							</div>

							<label for="insurance">Aseguradora</label>
							<select class="form-control" name="insurance" id="insurance" ng-model="landDocSearchCtrl.selectedInsurance.insurance" ng-options="op.name for op in insurances">
							  <option value="" >- Selecciona una aseguradora -</option>
							</select>
							<div ng-show="landDocSearchCtrl.selectedInsurance.insurance">
								<label for="insurance_type">Seguro</label>
								<select class="form-control" name="insurance_type" id="insurance_type" ng-model="landDocSearchCtrl.selectedInsurance.insurance_type" ng-options="op.name for op in getInsurances(landDocSearchCtrl.selectedInsurance)">
								  <option value="" >- Selecciona un seguro -</option>
								</select>
							</div>
							<button id="search_doctor_main" name="search_doctor" class="btn btn-success btn-block btn-lg" >{{text.section1_find_doctor_button}}</button>
						</form>
					</div>
				</div>
				<div class="mb-right">
					<div class="jumbotron">
						<p>{{text.section1_left_title}}</p>
						<ul>
							<li><i class="fa fa-medkit fa-lg"></i>
								<span>{{text.section1_left_paragraph1}}</span>
							</li>
							<li><i class="fa fa-life-ring fa-lg"></i>
								<span>{{text.section1_left_paragraph2}}</span>
							</li>
							<li><i class="fa fa-location-arrow fa-lg"></i>
								<span>{{text.section1_left_paragraph3}}</span>
							</li>
						</ul>
						<span><b>{{text.section1_mobile_title}}</b></span>
						<div>
							<a href="{{text.section1_appstore_link}}" target="_blank"><img src="../www/css/images/logo-app_store.png"></a>
							<a href="{{text.section1_googleplay_link}}" target="_blank"><img src="../www/css/images/android-logo.png"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="info_container">
		<div class="center">
			<div class="info-box">
				<div class="inner-info-box">
					<div class="column">
						<img src="../www/css/images/search.png" />
						<h3>{{text.section2_left_title}}</h3>
						<p class="orange-text"><b>{{text.section2_left_paragraph}}</b></p>
					</div>
					<div class="column">
						<img src="../www/css/images/people.png" />
						<h3>{{text.section2_center_title}}</h3>
						<p class="orange-text"><b>{{text.section2_center_paragraph}}</b></p>
					</div>
					<div class="column">
						<img src="../www/css/images/calendar.png" />
						<h3>{{text.section2_right_title}}</h3>
						<p class="orange-text"><b>{{text.section2_right_paragraph}}</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="providers_container" ng-controller="SearchListsController as listsCtrl">
		<div class="center">
			<div class="info-box">
				<h2>{{text.section3_title}}</h2>
				<div class="inner-info-box">
					<div class="column-b">
						<h3><b>Especialidad</b></h3>
						<hr>
						<ul>
							<li ng-repeat="practice in listsCtrl.practices | orderBy : 'name' | limitTo: 12">
								<a href="/#/search/{{encodedParam}}/{{encodedParam}}/{{practice.name}}/{{encodedParam}}">{{practice.name}}</a>
							</li>
							<a ng-if="listsCtrl.practices.length > 11" href="#/practices_list"><b>Ver más...</b></a>
						</ul>
					</div>
					<div class="column-b">
						<h3><b>Ciudad</b></h3>
						<hr>
						<ul>
							<li><a href="/#/search/Bogotá/{{encodedParam}}/{{encodedParam}}/{{encodedParam}}">Bogotá</a></li>
							<li><a href="/#/search/Medellín/{{encodedParam}}/{{encodedParam}}/{{encodedParam}}">Medellín</a></li>
							<li><a href="/#/search/Cali/{{encodedParam}}/{{encodedParam}}/{{encodedParam}}">Cali</a></li>
							<li><a href="/#/search/Barranquilla/{{encodedParam}}/{{encodedParam}}/{{encodedParam}}">Barranquilla</a></li>
							<li><a href="/#/search/Pereira/{{encodedParam}}/{{encodedParam}}/{{encodedParam}}">Pereira</a></li>
							<li><a href="/#/search/Bucaramanga/{{encodedParam}}/{{encodedParam}}/{{encodedParam}}">Bucaramanga</a></li>
							<!-- <a href="#/cities_list"><b>Ver más...</b></a> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="docs_container">
		<div class="center">
			<div class="info-box">
				<h2>{{text.section4_left_title}}</h2>
				<div class="inner-info-box">
					<div class="column-b">
						<p>{{text.section4_left_paragraph}}</p>
						<a href="#/doctor_sign_up#" class="btn btn-info btn-lg">{{text.section4_left_button_title}}</a> 
					</div>
					<div class="column-b">
						<p>{{text.section4_right_paragraph}}</p>
						<a href="#/doctor_sign_in" class="btn btn-info btn-lg">{{text.section4_right_button_title}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>