<div id="doctor-recover-password">
	<div class="center">
		<div class="inner-info-box">
			<div class="form-box">
				<p>Introduce a continuación tu nueva contraseña</p>
				<form class="form-horizontal" name="doctorRecoverPassword" ng-submit="newPassCtrl.sendPassword()" novalidate>
				<fieldset>
					<div class="form-group">
					  <div class="col-md-6">
						<input id="password" name="password" type="password" placeholder="Contraseña" class="form-control input-md" ng-model="newPassCtrl.data.password" equals="{{newPassCtrl.data.password_verify}}" required>
						<div ng-show="form.password.$error.required" class="alert alert-danger" role="alert">Campo obligatorio</div>
					  </div>
					</div>
					<div class="form-group">
					  <div class="col-md-6">
						<input id="password" name="confirm_password" type="password" placeholder="Confirmar contraseña" class="form-control input-md" ng-model="newPassCtrl.data.password_verify" data-password-verify="newPassCtrl.data.password" equals="{{newPassCtrl.data.password}}" required>
						<div ng-show="form.confirm_password.$error.required" class="alert alert-danger" role="alert">Campo obligatorio</div>
						<div ng-show="form.confirm_password.$error.passwordVerify" class="alert alert-danger" role="alert">Las contraseñas no coinciden</div>
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-md-4 control-label" for=""></label>
					  <div class="col-md-4">
					    <button id="recover-submit" class="btn btn-primary">Enviar</button>
					  </div>
					</div>
				</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>