<div>
	<div id="search-bar">
		<div class="center">
			<div class="inner-search-bar">
				<form name="searchDoctorForm" ng-controller="DoctorSearchController as docSearchCtrl" ng-submit="docSearchCtrl.searchDoctor()" novalidate>
					<div class="column-c">
						<label for="practice_list">Especialidad</label>
						<select class="form-control" name="practice_list" id="practice_list" ng-model="docSearchCtrl.selectedPractice" ng-options="op.name for op in docSearchCtrl.practices">
						  <option value="">- Selecciona una especialidad -</option>
		                </select>
					</div>
					<div class="column-c">
						<label for="city">Ciudad</label>
						<select class="form-control" name="city" id="city" ng-model="docSearchCtrl.selectedCity" ng-options="op.name for op in docSearchCtrl.cities">
		                  <option value="">- Selecciona una ciudad -</option>
		                </select>
		                <div ng-if="docSearchCtrl.selectedCity.name == 'Bogotá'">
		                	<label for="city">Localidad</label>
							<select class="form-control" name="city" id="city" ng-model="docSearchCtrl.selectedLocalidad" ng-options="localidad.name for localidad in docSearchCtrl.localidades">
			                  <option value="">- Selecciona una localidad -</option>
			                </select>
		                </div>
					</div>
					<div class="column-c">
						<label for="insurance_list">Aseguradora</label>
						<select class="form-control" name="insurance_list" id="insurance_list" ng-model="docSearchCtrl.selectedInsurance" ng-options="op.name for op in docSearchCtrl.insurances">
		                  <option value="">- Selecciona una aseguradora -</option>
		                </select>
					</div>
					<div class="column-c">
						<button id="search_doctor" name="search_doctor" class="btn btn-success btn-block btn-lg">Buscar</button>
					</div>
				</form>
			</div>
			<hr>
		</div>
	</div>
	<div id="results-box">
		<div class="center">
			<div ng-app="mapsApp" ng-controller="MapCtrl as doc" class="results-page">
				<div id="doc-search-box" class="loading"></div>
				<div class="docs-container">
					<div class="docs-list" ng-repeat="doctor in doc.docs">
						<div class="doc-box">
							<div class="doc-photo">
								<div class="inner-doc-photo">
									<div ng-if="doctor.gender == 1">
										<img ng-if="!doctor.profile_pic" src="../www/css/images/doctormale.png">
										<img ng-if="doctor.profile_pic" ng-src="{{doctor.profile_pic.image_url}}">
									</div>	
									<div ng-if="doctor.gender != 1">
										<img ng-if="!doctor.profile_pic" src="../www/css/images/doctorfemale.png">
										<img ng-if="doctor.profile_pic" ng-src="{{doctor.profile_pic.image_url}}">
									</div>
								</div>
							</div>
							<div class="doc-info">
								<div class="doc-name"><span>
										<a href="#/doctor/{{doctor._id}}">
										<label ng-if="doctor.gender == 1">Dr.</label>
										<label ng-if="doctor.gender != 1">Dra.</label>
										{{doctor.name}}  
										{{doctor.lastname}}</a>
									</span></div>
								<div class="doc-address">
									<div class="doc-speciality"><b>{{doctor.practice_list[0]}}</b></div>
									<div class="doc-city"><p>{{doctor.city}}</p></div>
									<div class="doc-adress-location"><p>{{doctor.location_list[0].location_address}}</p></div>

								</div>
								<div class="doc-review"></div>
								<div class="book-options">
									<a href="#/doctor/{{doctor._id}}" class="btn btn-info btn-lg">Ver perfil</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="location-container">
					<div>
				    	<div id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>