<div id="sign-in-box">
	<div class="center">
		<div class="inner-info-box">
			<div class="form-box box-fix">
				<h2>Inicio de Sesión</h2>
				<form class="form-horizontal" name="loginForm" ng-controller="SignInController as loginCtrl" ng-submit="loginCtrl.signIn()" novalidate>
				<fieldset>
					<div class="form-group">
					  <div class="col-md-6">
					  <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" ng-model="loginCtrl.data.email" required>
					  </div>
					</div>
					<div class="form-group">
					  <div class="col-md-6">
					    <input id="password" name="password" type="password" placeholder="Contraseña" class="form-control input-md" ng-model="loginCtrl.data.password" required>
					  </div>
					</div>
					<div class="form-group">
					  <div class="col-md-6 pull-left">
					    <a href="#/password_recover/user">¿Olvidaste tu contraseña?</a>
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-md-4 control-label" for=""></label>
					  <div class="col-md-4">
					    <button id="sign_in_submit" name="sign_in_submit" class="btn btn-primary">Iniciar Sesión</button>
					  </div>
					</div>
				</fieldset>
				</form>
			</div>
			<div class="form-box box-fix">
				<h2>¿Nos visitas por primera vez?</h2>
				<div class="form-group">
				  <div>
				    <a href="#/sign_up" id="sign_up_submit" name="sign_up_submit" class="btn btn-primary">Soy Paciente</a>
				  </div>
				  <div>
				    <a href="#/doctor_sign_up" id="sign_up_submit" name="sign_up_submit" class="btn btn-success btn-primary">Soy Doctor</a>
				  </div>
				</div>
				<!-- <div class="form-group">
				  <label class="col-md-4 control-label" for=""></label>
				  <div class="col-md-4">
				    <a href="#/doctor_sign_up" id="sign_in_submit" name="sign_in_submit" class="btn btn-primary">Soy Doctor</a>
				  </div>
				</div> -->
			</div>
		</div>
	</div>
</div>