<div class="container-fluid">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar" role="tablist" id="user-tab">
		<li><a href="#/user/{{userDashCtrl.info._id}}/#user_appointments">Citas</a></li>
		<li class="active"><a href="#/user/{{userDashCtrl.info._id}}/#user_account">Cuenta</a></li>
		<li><a href="#/user/{{userDashCtrl.info._id}}/#user_doctors">Mis Doctores</a></li>
	  </ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-content">
		<div id="user_appointments" class="tab-pane fade" ng-controller="AppointmentsController">
			<div class="center">
				<div class="inner-info-box">
					<h2>Citas</h2>	
					<ul class="list-group" ng-repeat="a in appointments">
						<img width="120px" ng-src="{{a.doctor_image}}">
						<li class="list-group-item">Doctor(a): {{a.doctor_name}}</li>
					    <li class="list-group-item">Fecha de Cita: {{a.date_start | date:"MMM dd hh:mm a"}}</li>
					    <li class="list-group-item">Motivo de Cita: {{a.reason}}</li>
					    <li class="list-group-item">Lugar: {{a.location[0].location_address}}</li>
					    <!-- <script src="https://addthisevent.com/libs/ate-latest.min.js"></script> -->
					    <script src="../www/js/libs/add_this_event.js"></script>
					    <script type="text/javascript">
						    //$( document ).ready(function() {
								addthisevent.settings({
									mouse		: false,
									css			: false,
									outlook		: {show:true, text:"Outlook Calendar"},
									google		: {show:true, text:"Google Calendar"},
									yahoo		: {show:true, text:"Yahoo Calendar"},
									ical		: {show:true, text:"iCal Calendar"},
									hotmail		: {show:true, text:"Hotmail Calendar"},
									facebook	: {show:true, text:"Facebook Calendar"}
								});
						    //});
						</script>
					    <li class="list-group-item">
						    <a href="http://example.com/link-to-your-event" target="_blank" title="Add to Calendar" class="addthisevent">
							    Agregar a mi calendario
							    <span class="_start">{{a.date_start | date:"MMM dd hh:mm a"}}</span>
							    <span class="_end">{{a.date_end | date:"MMM dd hh:mm a"}}</span>
							    <span class="_zonecode">14</span>
							    <span class="_summary">Cita Médica</span>
							    <span class="_description">{{a.reason}}</span>
							    <span class="_location">{{a.location[0].location_address}}</span>
							    <span class="_organizer">{{a.doctor_name}}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>	
		</div>
		<div id="user_account" class="tab-pane fade in active">
			<h2 class="sub-header">Cuenta</h2>
			<ul class="nav nav-tabs" role="tablist" id="myTab">
				<li class="active"><a href="#/user/{{userDashCtrl.info._id}}/#personal" role="tab" data-toggle="tab">Datos Personales</a></li>
				<li><a href="#/user/{{userDashCtrl.info._id}}/#password_change" role="tab" data-toggle="tab">Contraseña</a></li>
				<li><a href="#/user/{{userDashCtrl.info._id}}/#user_settings" role="tab" data-toggle="tab">Notificaciones</a></li>
			</ul>
		  	<div class="tab-content">
				<personal_user class="tab-pane fade in active" id="personal"></personal_user>
				<password_change_user class="tab-pane fade" id="password_change"></password_change_user>
				<user_settings class="tab-pane fade" id="user_settings"></user_settings>
			</div>
		</div>
		<div id="user_doctors" class="tab-pane fade" ng-controller="FavoritesController">
			<div class="center">
				<div class="inner-info-box">
					<h2>Mis Doctores</h2>
					<ul class="list-group" ng-repeat="f in favorites">
						<img width="120px" ng-src="{{f.profile_pic.image_url}}">
						<li class="list-group-item">Doctor(a): {{f.name}} {{f.lastname}}</li>
					    <li class="list-group-item">Especialidad: {{f.practice_list[0]}}</li>
					    <li class="list-group-item">
					    	<a href="#/doctor/{{f._id}}" class="btn btn-info btn-md">Ver perfil</a>
					    	<a ng-click="unfavDoctor(f._id)" href="" class="btn btn-info btn-md">Eliminar</a>
					    </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>