<div class="container-fluid">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar" role="tablist" id="doc-tab">
		<li class="active"><a href="/#/calendar/{{doctorId}}" role="tab" data-toggle="tab">Citas</a></li>
		<li><a href="/#/doctor_dashboard/{{doctorId}}">Cuenta</a></li>
	  </ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-content">
		<h2 class="sub-header">Citas</h2>
		<div role="main">
		    <div>
		        <section id="directives-calendar">
		        	<div>
		                <div class="row-fluid">
		                    <div class="span4 events-box">

		                        <div class="alert alert-info" style="background:{{selectedEvent.color}}; color:{{selectedEvent.textColor}};" ng-show="selectedEvent">
                                    <span class="event-rank"><b>{{selectedEvent.start | date:"MMM dd hh:mm a"}} - {{selectedEvent.end | date:"MMM dd hh:mm a"}}</b></span>
										 <div class="event-status"><input type="radio" name="available" id="available" value="available" ng-model="selectedEvent.status"> <label for="available">Disponible</label></div>
										 <div class="event-status"><input type="radio" name="external" id="external" value="external" ng-model="selectedEvent.status"> <label for="external">Externo</label></div>
										 <div class="event-status"><input type="radio" name="cancelled" id="cancelled" value="cancelled" ng-model="selectedEvent.status"> <label for="cancelled">Cancelado</label></div>
									<button type="button" class="btn btn-info btn-sm" ng-click="setAppointment(status, selectedEvent)">Guardar</button>
									<button type="button" class="btn btn-info btn-sm" ng-click="updateEvent(selectedEvent)">Actualizar estado</button>
                                </div>

		                    </div>

		                    <div class="span8 calendar-box">
		                        <tabset id="my-tabs">
		                            <tab select="renderCalendar(myCalendar1);">
		                              <tab-heading>
		                               <i class="glyphicon glyphicon-calendar"></i> <a id="main-calendar" href="">Mi Calendario</a>
		                              </tab-heading>
		                              <div class="panel panel-info panel-heading">Haz click en un día para agregar un evento</div>
		                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
		                                <h4>{{alertMessage}}</h4>
		                              </div>
		                              <div class="btn-toolbar">
		                                <p class="pull-right lead"></p>
		                                <div class="btn-group">
		                                    <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">Día</button>
		                                    <button id="set-week" class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">Semana</button>
		                                    <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Mes</button>
		                                </div>
		                              </div>
		                            <div class="calendar" id="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
		                           <span ng-init="changeView('agendaWeek', myCalendar1)"></span>
		                           </tab>
		                        </tabset>
		                    </div>
		                </div>
		            </div>
		         </section>
		    </div>
		</div>
	</div>
  </div>
</div>

