<div class="center">
	<div class="inner-info-box">
		<div class="form-box">
			<form class="form-horizontal" name="loadDocGallery" enctype="multipart/form-data" ng-submit="uploadFile(docDashCtrl.info._id)">
			<fieldset>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="email">Imágenes Galería</label>  
				  <div class="col-md-6">
					  <div class="list-group-item-info" ng-repeat="gallery in docDashCtrl.info.gallery">
					  	  <!-- <img id="placeholder-pic" ng-if="!docDashCtrl.info.gallery[0]" src="http://www.cootharababeefgenes.com.au/assets/placeholder-81127a71a07cd5c12cde6fc9ac9b1b6e.png" class="img-thumbnail"> -->
						  <img id="gallery-pic" class="img-thumbnail" ng-src="{{docDashCtrl.info.gallery[0].image_url}}">
						  <a href="" ng-click="dashStudiesCtrl.removeStudiesInfo(education_list)" class="btn btn-danger btn-small remove-btn"><i class="fa fa-times"></i></a>
					  </div>
					  <!-- <a href="" ng-click="dashGalleryCtrl.addImage()" class="btn btn-primary btn-small add-btn"><i class="fa fa-plus"></i>Agregar</a> --> 
					  <span class="btn btn-info btn-file">Buscar imagen
					  	<input type="file" id="image-gallery" class="form-control input-md" images-model="myFile" ng-model="image">
					  </span>
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-md-4 center-button">
					<input type="submit" class="btn btn-primary" value="Guardar">
					<a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#gallery" class="btn btn-warning">Cancelar</a>
				  </div>
				</div>
			</fieldset>
			</form>
		</div> 
	</div>
</div>