<div class="center">
	<div class="inner-info-box">
		<div class="form-box">
			<form class="form-horizontal" name="changePasswordDoc">
			<fieldset>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="password">Ingrese su contraseña actual</label>
				  <div class="col-md-6">
					<input id="password" name="password" type="password" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.password">
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="password">Ingrese su nueva contraseña</label>
				  <div class="col-md-6">
					<input id="password" name="password" type="password" placeholder="" class="form-control input-md" ng-model="docSignUpCtrl.data.password">
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="password">Confirme su nueva contraseña</label>
				  <div class="col-md-6">
					<input id="password" name="password" type="password" placeholder="" class="form-control input-md" ng-model="docSignUpCtrl.data.password">
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-md-4 center-button">
					<button id="doctor_sign_up_submit" name="doctor_sign_up_submit" class="btn btn-primary">Guardar</button>
					<button id="doctor_sign_up_submit" name="doctor_sign_up_submit" class="btn btn-warning">Cancelar</button>
				  </div>
				</div>
			</fieldset>
			</form>
		</div> 
	</div>
</div>