<div class="center">
	<div class="inner-info-box">
		<div class="form-box">
			<form class="form-horizontal" name="changeStudiesDocInfo" ng-submit="dashStudiesCtrl.updateDoctor(docDashCtrl.info._id)">
			<fieldset>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="practice_list">Especialidad</label>
				  <div class="col-md-6">
				  	<div class="pl-container" ng-repeat="practice_list in docDashCtrl.info.practice_list">
						<select id="practice_list" name="practice_list" class="form-control practice_list" ng-model="docDashCtrl.info.practice_list[$index]" ng-options="practice.name for practice in practices track by practice.id">
						</select>{{$index + 1}}
						<a href="" class="btn btn-danger btn-small remove-btn"><i class="fa fa-times"></i></a>
					</div>
					<a href="" ng-click="dashStudiesCtrl.addPractice()" class="btn btn-primary btn-small add-btn"><i class="fa fa-plus"></i> Agregar</a>
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="institute_name">Universidad/Instituto</label>  
				  <div class="col-md-6">
				  <input id="institute_name" name="institute_name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.education_list[0].institute_name"><!-- CAMBIAR POR UN REPEAT CON INDEX DINAMICO -->
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="description">Descripción</label>  
				  <div class="col-md-6">
				  <textarea id="description" name="description" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.description"></textarea>
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="profesional_membership">Membresías Profesionales</label>  
				  <div class="col-md-6">
				  <input id="profesional_membership" name="profesional_membership" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.profesional_membership">
				  </div>
				</div>
				<div class="form-group last-form-element">
				  <label class="col-md-4 control-label" for="insurance_list">Aseguradoras</label>
				  <div class="col-md-6">
					<select id="insurance_list" name="insurance_list" class="form-control"  ng-model="docDashCtrl.info.insurance_list">
					  <option value="Sura">Sura</option>
					  <option value="Colpatria">Colpatria</option>
					  <option value="Compensar">Compensar</option>
					</select>
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-md-4 center-button">
					<input type="submit" class="btn btn-primary" value="Guardar">
					<a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#studies" class="btn btn-warning">Cancelar</a>
				  </div>
				</div>
			</fieldset>
			</form>
		</div> 
	</div>
</div>