<div class="center">
	<div class="inner-info-box">
		<div class="form-box">
			<form class="form-horizontal" name="changeStudiesInfo" ng-submit="changeStudiesInfo.$valid && dashStudiesCtrl.updateDoctor(docDashCtrl.info._id)" novalidate>
			<fieldset>
				<fieldset>
					<legend>Especialidades</legend>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="practice_list">Especialidad</label>
					  <div class="col-md-6">
					  	<div class="pl-container" ng-repeat="practice_list in docDashCtrl.info.practice_list">
							<select id="practice_list_{{$index + 1}}" name="practice_list" class="form-control small-input" ng-model="selectedPracticeList[$index]" ng-options="practice.name for practice in docDashCtrl.practices" required>
								<option value="" >- Agregue una especialidad -</option>
							</select>
							<a href="" ng-click="dashStudiesCtrl.removePractice(practice_list)" class="btn btn-danger btn-small remove-btn"><i class="fa fa-times"></i></a>
						</div>
						<a href="" ng-click="dashStudiesCtrl.addPractice()" class="btn btn-primary btn-small add-btn"><i class="fa fa-plus"></i> Agregar</a>
					  </div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Formación Académica</legend>
					<div class="form-group list-group-item-info input-top-fix" ng-repeat="education_list in docDashCtrl.info.education_list">
					  <label class="col-md-4 control-label" for="institute_name">Universidad/Instituto</label>  
					  <div class="col-md-6">
						  <div class="in-container">
						  	<input id="institute_name_{{$index + 1}}" name="institute_name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.education_list[$index].institute_name">
						  </div>
					  </div>
					  <label class="col-md-4 control-label" for="degree">Carrera Profesional</label>  
					  <div class="col-md-6">
						  <div class="in-container">
						  	<input id="degree_{{$index + 1}}" name="degree" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.education_list[$index].degree">
						  </div>
					  </div>
					  <label class="col-md-4 control-label" for="year_start">Año de Inicio</label>  
					  <div class="col-md-6">
						  <div class="in-container">
						  	 <select id="year_start_{{$index + 1}}" name="year_start"  class="form-control" ng-model="docDashCtrl.info.education_list[$index].year_start" ng-options="year for year in docDashCtrl.yearsList track by year">
							</select>
						  </div>
					  </div>
					  <label class="col-md-4 control-label" for="year_start">Año de Finalización</label>  
					  <div class="col-md-6">
						  <div class="in-container">
						  	 <select id="year_end_{{$index + 1}}" name="year_end"  class="form-control" ng-model="docDashCtrl.info.education_list[$index].year_end" ng-options="year for year in docDashCtrl.yearsList track by year">
						  	 </select>
						  </div>
					  </div>
					  <label class="col-md-4 control-label" for="hilights">Destacados</label>  
					  <div class="col-md-6">
						  <div class="in-container">
						  	<textarea id="hilights_{{$index + 1}}" name="hilights" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.education_list[$index].hilights"></textarea>
						  </div>
					  </div>
					  <a href="" ng-click="dashStudiesCtrl.removeStudiesInfo(education_list)" class="btn btn-danger btn-small remove-btn"><i class="fa fa-times"></i>Eliminar</a>
					</div>
					<a href="" ng-click="dashStudiesCtrl.addStudiesInfo()" class="btn btn-primary btn-small add-btn pull-right"><i class="fa fa-plus"></i> Agregar</a>
				</fieldset>
				<fieldset>
				<legend>Información adicional</legend>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="description">Descripción</label>  
					  <div class="col-md-6">
					  <textarea id="description" name="description" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.description"></textarea>
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-md-4 control-label" for="profesional_membership">Membresías Profesionales</label>  
					  <div class="col-md-6">
					  <input id="profesional_membership" name="profesional_membership" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.profesional_membership">
					  </div>
					</div>
					<div class="form-group last-form-element">
					  <label class="col-md-4 control-label" for="insurance_name">Aseguradoras</label>
					  <div class="col-md-6">
					  	<div class="pl-container list-group-item-info input-top-fix" ng-repeat="insurance_list in docDashCtrl.info.insurance_list">
					  		<select id="insurance_name_{{$index + 1}}" name="insurance_name" class="form-control small-input" ng-model="docDashCtrl.info.insurance_list[$index].insurance" ng-options="op.name for op in docDashCtrl.insurances">
						  		<option value="">- Seleccione una aseguradora -</option>
							</select>
							<select ng-show="docDashCtrl.info.insurance_list[$index].insurance" id="type_name_{{$index + 1}}" name="type_name" class="form-control small-input" ng-model="docDashCtrl.info.insurance_list[$index].insurance_type" ng-options="op.name for op in getInsurances([$index])">
						  		<option value="">- Seleccione un seguro -</option>
							</select>
							<a href="" ng-click="dashStudiesCtrl.removeInsurance(insurance_list)" class="btn btn-danger btn-small remove-btn"><i class="fa fa-times"></i></a>
					  	</div>
					  	<a href="" ng-click="dashStudiesCtrl.addInsurance()" class="btn btn-primary btn-small add-btn"><i class="fa fa-plus"></i>Agregar</a>
					  </div>
					</div>
				</fieldset>
				<div class="form-group">
				  <div class="col-md-4 center-button">
					<input type="submit" class="btn btn-primary" value="Guardar">
					<a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#studies" class="btn btn-warning">Cancelar</a>
				  </div>
				</div>
			</fieldset>
			</form>
		</div> 
	</div>
</div>