<div class="center">
	<div class="inner-info-box">
		<div class="form-box">
			<form class="form-horizontal" name="changeUserPassword" ng-submit="userPassCtrl.updateUser(userDashCtrl.info._id)">
			<fieldset>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="current_password">Ingrese su contraseña actual</label>
				  <div class="col-md-6">
					<input id="password" name="current_password" type="password" placeholder="" class="form-control input-md" ng-model="security.password">
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="new_password">Ingrese su nueva contraseña</label>
				  <div class="col-md-6">
					<input id="new_password" name="new_password" type="password" placeholder="" class="form-control input-md" ng-model="security.new_password">
				  </div>
				</div>
				<!-- <div class="form-group">
				  <label class="col-md-4 control-label" for="password">Confirme su nueva contraseña</label>
				  <div class="col-md-6">
					<input id="password" name="new_password" type="password" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.new_password">
				  </div>
				</div> -->
				<div class="form-group">
				  <div class="col-md-4 center-button">
					<input type="submit" class="btn btn-primary" value="Guardar">
					<a href="#/user/{{userDashCtrl.info._id}}/#password_change" class="btn btn-warning">Cancelar</a>
				  </div>
				</div>
			</fieldset>
			</form>
		</div> 
	</div>
</div>