<div class="center">
	<div class="results-page">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 top-fix">
			<div class="inner-text-box">
				<h2 class="sub-header">Personalizar Inicio de DocLinea</h2>
				<div class="form-box">
					<form class="form-horizontal" name="customizeForm" ng-submit="customCtrl.saveChanges()">
						<fieldset>
							<legend>Sección 1</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section1_left_title">Título</label>  
								    <div class="col-md-6">
								    	<input id="section1_left_title" name="section1_left_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section1_left_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section1_left_paragraph1">Párrafo 1</label>  
								    <div class="col-md-6">
								    	<input id="section1_left_paragraph1" name="section1_left_paragraph1" type="text" placeholder="" class="form-control input-md" ng-model="text.section1_left_paragraph1">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section1_left_paragraph2">Párrafo 2</label>  
								    <div class="col-md-6">
								    	<input id="section1_left_paragraph2" name="section1_left_paragraph2" type="text" placeholder="" class="form-control input-md" ng-model="text.section1_left_paragraph2">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section1_left_paragraph3">Párrafo 3</label>  
								    <div class="col-md-6">
								    	<input id="section1_left_paragraph3" name="section1_left_paragraph3" type="text" placeholder="" class="form-control input-md" ng-model="text.section1_left_paragraph3">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section1_mobile_title">Texto Aplicación Móvil</label>  
								    <div class="col-md-6">
								    	<input id="section1_mobile_title" name="section1_mobile_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section1_mobile_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section1_appstore_link">Link App Store</label>  
								    <div class="col-md-6">
								    	<input id="section1_appstore_link" name="section1_appstore_link" type="text" placeholder="" class="form-control input-md" ng-model="text.section1_appstore_link">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section1_googleplay_link">Link Google Play</label>  
								    <div class="col-md-6">
								    	<input id="section1_googleplay_link" name="section1_googleplay_link" type="text" placeholder="" class="form-control input-md" ng-model="text.section1_googleplay_link">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section1_find_doctor_button">Texto Botón Formulario</label>  
								    <div class="col-md-6">
								    	<input id="section1_find_doctor_button" name="section1_find_doctor_button" type="text" placeholder="" class="form-control input-md" ng-model="text.section1_find_doctor_button">
								    </div>
								</div>
							</fieldset>
							<legend>Sección 2</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section2_left_title">Título Izquierdo</label>  
								    <div class="col-md-6">
								    	<input id="section2_left_title" name="section2_left_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section2_left_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section2_left_paragraph">Párrafo Izquierdo</label>  
								    <div class="col-md-6">
								    	<textarea id="section2_left_paragraph" name="section2_left_paragraph" type="text" placeholder="" class="form-control input-md" ng-model="text.section2_left_paragraph"></textarea>
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section2_center_title">Título Centro</label>  
								    <div class="col-md-6">
								    	<input id="section2_center_title" name="section2_center_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section2_center_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section2_center_paragraph">Párrafo Centro</label>  
								    <div class="col-md-6">
								    	<textarea id="section2_center_paragraph" name="section2_center_paragraph" type="text" placeholder="" class="form-control input-md" ng-model="text.section2_center_paragraph"></textarea>
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section2_right_title">Título Derecho</label>  
								    <div class="col-md-6">
								    	<input id="section2_right_title" name="section2_right_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section2_right_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section2_right_paragraph">Párrafo Derecho</label>  
								    <div class="col-md-6">
								    	<textarea id="section2_right_paragraph" name="section2_right_paragraph" type="text" placeholder="" class="form-control input-md" ng-model="text.section2_right_paragraph"></textarea>
								    </div>
								</div>
							</fieldset>
							<legend>Sección 3</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section3_title">Título</label>  
								    <div class="col-md-6">
								    	<input id="section3_title" name="section3_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section3_title">
								    </div>
								</div>
							</fieldset>
							<legend>Sección 4</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section4_left_title">Título</label>  
								    <div class="col-md-6">
								    	<input id="section4_left_title" name="section4_left_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section4_left_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section4_left_paragraph">Párrafo Izquierdo</label>  
								    <div class="col-md-6">
								    	<textarea id="section4_left_paragraph" name="section4_left_paragraph" type="text" placeholder="" class="form-control input-md" ng-model="text.section4_left_paragraph"></textarea>
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section4_left_button_title">Texto Botón Izquierdo</label>  
								    <div class="col-md-6">
								    	<input id="section4_left_button_title" name="section4_left_button_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section4_left_button_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section4_right_title">Título Derecho</label>  
								    <div class="col-md-6">
								    	<input id="section4_right_title" name="section4_right_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section4_right_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section4_right_paragraph">Párrafo Derecho</label>  
								    <div class="col-md-6">
								    	<textarea id="section4_right_paragraph" name="section4_right_paragraph" type="text" placeholder="" class="form-control input-md" ng-model="text.section4_right_paragraph"></textarea>
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section4_right_button_title">Texto Botón Derecho</label>  
								    <div class="col-md-6">
								    	<input id="section4_right_button_title" name="section4_right_button_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section4_right_button_title">
								    </div>
								</div>
							</fieldset>
							<legend>Sección 5</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section5_title">Título</label>  
								    <div class="col-md-6">
								    	<input id="section5_title" name="section5_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section5_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section5_phone">Teléfono</label>  
								    <div class="col-md-6">
								    	<input id="section5_phone" name="section5_phone" type="text" placeholder="" class="form-control input-md" ng-model="text.section5_phone">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section5_email">Email</label>  
								    <div class="col-md-6">
								    	<input id="section5_email" name="section5_email" type="text" placeholder="" class="form-control input-md" ng-model="text.section5_email">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section5_contact_button">Texto Botón Contacto</label>  
								    <div class="col-md-6">
								    	<input id="section5_contact_button" name="section5_contact_button" type="text" placeholder="" class="form-control input-md" ng-model="text.section5_contact_button">
								    </div>
								</div>
							</fieldset>
							<legend>Sección 6</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section6_follow_title">Título Redes Sociales</label>  
								    <div class="col-md-6">
								    	<input id="section6_follow_title" name="section6_follow_title" type="text" placeholder="" class="form-control input-md" ng-model="text.section6_follow_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section6_facebook_link">Link Facebook</label>  
								    <div class="col-md-6">
								    	<input id="section6_facebook_link" name="section6_facebook_link" type="text" placeholder="" class="form-control input-md" ng-model="text.section6_facebook_link">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section6_twitter_link">Link Twitter</label>  
								    <div class="col-md-6">
								    	<input id="section6_twitter_link" name="section6_twitter_link" type="text" placeholder="" class="form-control input-md" ng-model="text.section6_twitter_link">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section6_google_link">Link Google+</label>  
								    <div class="col-md-6">
								    	<input id="section6_google_link" name="section6_google_link" type="text" placeholder="" class="form-control input-md" ng-model="text.section6_google_link">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section6_linkedin_link">Link LinkedIn</label>  
								    <div class="col-md-6">
								    	<input id="section6_linkedin_link" name="section6_linkedin_link" type="text" placeholder="" class="form-control input-md" ng-model="text.section6_linkedin_link">
								    </div>
								</div>
							</fieldset>
							<div class="form-group">
							    <div class="col-md-4 center-button">
									<input type="submit" class="btn btn-primary" value="Guardar">
									<a href="" class="btn btn-warning">Cancelar</a>
							    </div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
	    </div>
    </div>
</div>