<div class="center">
	<div class="results-page">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 top-fix">
			<div class="inner-info-box">
				<h2 class="sub-header">Personalizar Inicio de DocLinea</h2>
				<div class="form-box">
					<form class="form-horizontal" name="customizeForm" ng-submit="customCtrl.saveChanges()">
						<fieldset>
							<legend>Sección 1</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="section1_left_title">Título</label>  
								    <div class="col-md-6">
								    	<input id="section1_left_title" name="section1_left_title" type="text" placeholder="" class="form-control input-md" ng-model="customCtrl.info.section1_left_title">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Párrafo 1</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Párrafo 2</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Párrafo 3</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Texto Aplicación Móvil</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Link App Store</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Link Google Play</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Texto Botón Formulario</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
							</fieldset>
							<legend>Sección 2</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Título Izquierdo</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Párrafo Izquierdo</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Título Centro</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Párrafo Centro</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Título Derecho</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Párrafo Derecho</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
							</fieldset>
							<legend>Sección 3</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Título</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
							</fieldset>
							<legend>Sección 4</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Título</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Párrafo Izquierdo</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Texto Botón Izquierdo</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Título Derecho</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Párrafo Derecho</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Texto Botón Derecho</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
							</fieldset>
							<legend>Sección 5</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Título</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Teléfono</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Email</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Texto Botón Contacto</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
							</fieldset>
							<legend>Sección 6</legend>
							<fieldset>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Título Redes Sociales</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Link Facebook</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Link Twitter</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Link Google+</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
								<div class="form-group">
								    <label class="col-md-4 control-label" for="name">Link LinkedIn</label>  
								    <div class="col-md-6">
								    	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docDashCtrl.info.name">
								    </div>
								</div>
							</fieldset>
							<div class="form-group">
							    <div class="col-md-4 center-button">
									<input type="submit" class="btn btn-primary" value="Guardar">
									<a href="" class="btn btn-warning">Cancelar</a>
							    </div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
	    </div>
    </div>
</div>