<div class="center">
	<div class="inner-info-box">
		<div class="form-box">
			<form class="form-horizontal" name="personalDocInfo" ng-submit="docPersonalManageCtrl.updateDoctor(docManageCtrl.info._id)">
			<fieldset>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="name">Nombres</label>  
				  <div class="col-md-6">
				  <input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="docManageCtrl.info.name" ng-minlength=3 ng-pattern="/^(\D)+$/">
				  <div class="error" ng-show="personalDocInfo.name.$dirty && personalDocInfo.name.$invalid">
					  <small class="error" ng-show="personalDocInfo.name.$error.minlength">Su nombre debe contener por lo menos 3 letras.</small>
					  <small class="error" ng-show="personalDocInfo.name.$error.pattern">Su nombre solo debe contener letras.</small>
				  </div>
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="last_name">Apellidos</label>  
				  <div class="col-md-6">
				  <input id="last_name" name="last_name" type="text" placeholder="" class="form-control input-md" ng-model="docManageCtrl.info.lastname" ng-minlength=3 ng-pattern="/^(\D)+$/">
				  <div class="error" ng-show="personalDocInfo.last_name.$dirty && personalDocInfo.last_name.$invalid">
					  <small class="error" ng-show="personalDocInfo.last_name.$error.minlength">Su apellido debe contener por lo menos 3 letras.</small>
					  <small class="error" ng-show="personalDocInfo.last_name.$error.pattern">Su apellido solo debe contener letras.</small>
				  </div>
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="email">Email</label>  
				  <div class="col-md-6">
				  <input disabled id="email" name="email" type="text" placeholder="" class="form-control input-md" ng-model="docManageCtrl.info.email" style="margin-bottom: 10px;">
				  <div class="alert alert-info" role="alert">Para cambiar su correo debe contactarnos a contacto@doclinea.com</div>
				  </div>
				</div>
				<div class="form-group last-form-element">
				  <label class="col-md-4 control-label" for="gender">Género</label>
				  <div class="col-md-4"> 
					<label class="radio-inline" for="gender-0">
					  <input type="radio" name="gender" id="gender-0" value="1" checked="checked" ng-model="docManageCtrl.info.gender">
					  Masculino
					</label> 
					<label class="radio-inline" for="gender-1">
					  <input type="radio" name="gender" id="gender-1" value="2" ng-model="docManageCtrl.info.gender">
					  Femenino
					</label>
				  </div>
				</div>
				<div class="form-group last-form-element">
				  <label class="col-md-4 control-label" for="patient_gender">Género de paciente</label>
				  <div class="col-md-4"> 
					<label class="radio-inline" for="patient_gender-0">
					  <input type="radio" name="patient_gender" id="patient_gender-0" value="1" checked="checked" ng-model="docManageCtrl.info.patient_gender">
					  Masculino
					</label> 
					<label class="radio-inline" for="patient_gender-1">
					  <input type="radio" name="patient_gender" id="patient_gender-1" value="2" ng-model="docManageCtrl.info.patient_gender">
					  Femenino
					</label>
					<label class="radio-inline" for="patient_gender-2">
					  <input type="radio" name="patient_gender" id="patient_gender-2" value="3" ng-model="docManageCtrl.info.patient_gender">
					  Ambos
					</label>
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="phone">Teléfono</label>  
				  <div class="col-md-6">
				  <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" ng-model="docManageCtrl.info.phone" ng-pattern="/^\d+$/">
				  <div class="error" ng-show="personalDocInfo.phone.$dirty && personalDocInfo.phone.$invalid">
					  <small class="error" ng-show="personalDocInfo.phone.$error.pattern">Su número telefónico solo debe contener números y ningún espacio.</small>
				  </div>
				  </div>
				</div> 
				<div class="form-group">
				  <div class="col-md-4 center-button">
					<input type="submit" class="btn btn-primary" value="Guardar">
					<a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#personal" class="btn btn-warning">Cancelar</a>
				  </div>
				</div>
			</fieldset>
			</form>
		</div> 
	</div>
</div>