<div class="center">
	<div class="inner-info-box">
		<div class="form-box mid-box-a">
			<form class="form-horizontal" name="hospitalsForm" ng-submit="hospitalsCtrl.createHospital()">
			<fieldset>
				<legend>Agregar hospital</legend>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="name">Nombre</label>  
				  <div class="col-md-6">
				  <input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="hospitalsCtrl.info.name" ng-minlength=3 required>
				  <div class="error" ng-show="hospitalsForm.name.$dirty && hospitalsForm.name.$invalid">
				  	<small class="error" ng-show="hospitalsForm.name.$error.required">Nombre es obligatorio.</small>
					  <small class="error" ng-show="hospitalsForm.name.$error.minlength">El nombre debe contener por lo menos 3 letras.</small>
				  </div>
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="email">Email</label>  
				  <div class="col-md-6">
				  <input id="email" name="email" type="text" placeholder="" class="form-control input-md" ng-model="hospitalsCtrl.info.email" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,5}$/" required>
				  <div class="error" ng-show="hospitalsForm.email.$dirty && hospitalsForm.email.$invalid">
				    <small class="error" ng-show="hospitalsForm.email.$error.required">Email es obligatorio.</small>
				    <small class="error" ng-show="hospitalsForm.email.$error.pattern">No es un email válido.</small>
				  </div>
				  </div>
				</div>
				<!-- <div class="form-group">
				  <label class="col-md-4 control-label" for="last_name">Dirección</label>  
				  <div class="col-md-6">
				  <input id="last_name" name="last_name" type="text" placeholder="" class="form-control input-md" ng-model="hospitalsCtrl.info.address" ng-minlength=3>
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="email">Logo</label>  
				  <div class="col-md-6">
				  <img id="profile-pic" ng-src="http://img2.wikia.nocookie.net/__cb20140518071050/towerofsaviors/images/archive/4/47/20140518072131!Placeholder.png" class="img-thumbnail" />
				  <span class="btn btn-info btn-file">Subir imagen
				  	<input type="file" id="image" class="form-control input-md" file-model="myFile" ng-model="image">
				  </span>
				  </div>
				</div> -->
				<div class="form-group">
				  <div class="col-md-4 center-button">
					<input type="submit" class="btn btn-primary" value="Guardar">
					<a href="#/doctor_dashboard/{{docDashCtrl.info._id}}/#personal" class="btn btn-warning">Cancelar</a>
				  </div>
				</div>
			</fieldset>
			</form>
		</div> 
		<div class="mid-box-b panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Hospitales</h3>
				<button class="btn btn-info btn-mini" ng-click="hospitalsCtrl.showHospitals()"><i class="fa fa-eye"></i></button>
			</div>
			<!-- <div ng-repeat="hospital in hospitalsCtrl.hospitals">
				<h4>{{hospital.name}}</h4>
			</div> -->
			<ul class="list-group scroll-list">
				<li class="list-group-item" ng-repeat="hospital in hospitalsCtrl.hospitals">
					<span class="list-element">{{hospital.name}}</span>
					<a href="#/admin_dashboard/edit_hospital/{{hospital._id}}" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></a>
					<button class="btn btn-danger"><i class="fa fa-times"></i></button>
				</li>
			</ul>
		</div>
	</div>
</div>